openapi: 3.0.1
info:
  title: GitHub
  description: >
    Powerful collaboration, code review, and code management for open source and
    private projects.
  termsOfService: 'https://help.github.com/articles/github-terms-of-service/#b-api-terms'
  version: v3
  x-logo:
    url: >-
      https://api.apis.guru/v2/cache/logo/http_assets-cdn.github.com_images_modules_logos_page_GitHub-Mark.png
  x-origin:
    format: swagger
    url: >-
      https://raw.githubusercontent.com/APIs-guru/unofficial_openapi_specs/master/github.com/v3/swagger.yaml
    version: '2.0'
  x-preferred: true
  x-providerName: github.com
  x-unofficialSpec: true
externalDocs:
  url: 'https://developer.github.com/v3/'
servers:
  - url: 'https://api.github.com/'
paths:
  /emojis:
    get:
      description: Lists all the emojis available to use on GitHub.
      parameters:
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emojis'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
  /events:
    get:
      description: List public events.
      parameters:
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
  /feeds:
    get:
      description: |
        List Feeds.
        GitHub provides several timeline resources in Atom format. The Feeds API
         lists all the feeds available to the authenticating user.
      parameters:
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/feeds'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
  /gists:
    get:
      description: |
        List the authenticated user's gists or if called anonymously, this will
        return all public gists.
      parameters:
        - name: since
          in: query
          description: |
            Timestamp in ISO 8601 format YYYY-MM-DDTHH:MM:SSZ.
            Only gists updated at or after this time are returned.
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gists'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
    post:
      description: Create a gist.
      parameters:
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postGist'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gist'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
      x-codegen-request-body-name: body
  /gists/public:
    get:
      description: List all public gists.
      parameters:
        - name: since
          in: query
          description: |
            Timestamp in ISO 8601 format YYYY-MM-DDTHH:MM:SSZ.
            Only gists updated at or after this time are returned.
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gists'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
  /gists/starred:
    get:
      description: List the authenticated user's starred gists.
      parameters:
        - name: since
          in: query
          description: |
            Timestamp in ISO 8601 format YYYY-MM-DDTHH:MM:SSZ.
            Only gists updated at or after this time are returned.
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gists'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
  '/gists/{id}':
    get:
      description: Get a single gist.
      parameters:
        - name: id
          in: path
          description: Id of gist.
          required: true
          schema:
            type: integer
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gist'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
    delete:
      description: Delete a gist.
      parameters:
        - name: id
          in: path
          description: Id of gist.
          required: true
          schema:
            type: integer
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '204':
          description: |
            No content.
          content: {}
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
    patch:
      description: Edit a gist.
      parameters:
        - name: id
          in: path
          description: Id of gist.
          required: true
          schema:
            type: integer
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchGist'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gist'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
      x-codegen-request-body-name: body
  '/gists/{id}/comments':
    get:
      description: List comments on a gist.
      parameters:
        - name: id
          in: path
          description: Id of gist.
          required: true
          schema:
            type: integer
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comments'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
    post:
      description: Create a commen
      parameters:
        - name: id
          in: path
          description: Id of gist.
          required: true
          schema:
            type: integer
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/commentBody'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comment'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
      x-codegen-request-body-name: body
  '/gists/{id}/comments/{commentId}':
    get:
      description: Get a single comment.
      parameters:
        - name: id
          in: path
          description: Id of gist.
          required: true
          schema:
            type: integer
        - name: commentId
          in: path
          description: Id of comment.
          required: true
          schema:
            type: integer
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comment'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
    delete:
      description: Delete a comment.
      parameters:
        - name: id
          in: path
          description: Id of gist.
          required: true
          schema:
            type: integer
        - name: commentId
          in: path
          description: Id of comment.
          required: true
          schema:
            type: integer
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '204':
          description: |
            No content.
          content: {}
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
    patch:
      description: Edit a comment.
      parameters:
        - name: id
          in: path
          description: Id of gist.
          required: true
          schema:
            type: integer
        - name: commentId
          in: path
          description: Id of comment.
          required: true
          schema:
            type: integer
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/comment'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comment'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
      x-codegen-request-body-name: body
  '/gists/{id}/forks':
    post:
      description: Fork a gist.
      parameters:
        - name: id
          in: path
          description: Id of gist.
          required: true
          schema:
            type: integer
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '204':
          description: Exists.
          content: {}
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
        '404':
          description: Not exists.
          content: {}
  '/gists/{id}/star':
    get:
      description: Check if a gist is starred.
      parameters:
        - name: id
          in: path
          description: Id of gist.
          required: true
          schema:
            type: integer
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '204':
          description: Exists.
          content: {}
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
        '404':
          description: Not exists.
          content: {}
    put:
      description: Star a gist.
      parameters:
        - name: id
          in: path
          description: Id of gist.
          required: true
          schema:
            type: integer
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '204':
          description: Starred.
          content: {}
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
    delete:
      description: Unstar a gist.
      parameters:
        - name: id
          in: path
          description: Id of gist.
          required: true
          schema:
            type: integer
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '204':
          description: Item removed.
          content: {}
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
  /gitignore/templates:
    get:
      description: >
        Listing available templates.

        List all templates available to pass as an option when creating a
        repository.
      parameters:
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitignore'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
  '/gitignore/templates/{language}':
    get:
      description: Get a single template.
      parameters:
        - name: language
          in: path
          required: true
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitignore-lang'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
  /issues:
    get:
      description: >
        List issues.

        List all issues across all the authenticated user's visible
        repositories.
      parameters:
        - name: filter
          in: query
          description: >
            Issues assigned to you / created by you / mentioning you / you're

            subscribed to updates for / All issues the authenticated user can
            see
          required: true
          schema:
            type: string
            default: all
            enum:
              - assigned
              - created
              - mentioned
              - subscribed
              - all
        - name: state
          in: query
          required: true
          schema:
            type: string
            default: open
            enum:
              - open
              - closed
        - name: labels
          in: query
          description: 'String list of comma separated Label names. Example - bug,ui,@high.'
          required: true
          schema:
            type: string
        - name: sort
          in: query
          required: true
          schema:
            type: string
            default: created
            enum:
              - created
              - updated
              - comments
        - name: direction
          in: query
          required: true
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
        - name: since
          in: query
          description: >
            Optional string of a timestamp in ISO 8601 format:
            YYYY-MM-DDTHH:MM:SSZ.

            Only issues updated at or after this time are returned.
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issues'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
  '/legacy/issues/search/{owner}/{repository}/{state}/{keyword}':
    get:
      description: Find issues by state and keyword.
      parameters:
        - name: keyword
          in: path
          description: The search term.
          required: true
          schema:
            type: string
        - name: state
          in: path
          description: >-
            Indicates the state of the issues to return. Can be either open or
            closed.
          required: true
          schema:
            type: string
            enum:
              - open
              - closed
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repository
          in: path
          required: true
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search-issues-by-keyword'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
  '/legacy/repos/search/{keyword}':
    get:
      description: >-
        Find repositories by keyword. Note, this legacy method does not follow
        the v3 pagination pattern. This method returns up to 100 results per
        page and pages can be fetched using the start_page parameter.
      parameters:
        - name: keyword
          in: path
          description: The search term
          required: true
          schema:
            type: string
        - name: order
          in: query
          description: >-
            The sort field. if sort param is provided. Can be either asc or
            desc.
          schema:
            type: string
            default: desc
            enum:
              - desc
              - asc
        - name: language
          in: query
          description: Filter results by language
          schema:
            type: string
        - name: start_page
          in: query
          description: The page number to fetch
          schema:
            type: string
        - name: sort
          in: query
          description: >-
            The sort field. One of stars, forks, or updated. Default: results
            are sorted by best match.
          schema:
            type: string
            enum:
              - updated
              - stars
              - forks
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search-repositories-by-keyword'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
  '/legacy/user/email/{email}':
    get:
      description: This API call is added for compatibility reasons only.
      parameters:
        - name: email
          in: path
          description: The email address
          required: true
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search-user-by-email'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
  '/legacy/user/search/{keyword}':
    get:
      description: Find users by keyword.
      parameters:
        - name: keyword
          in: path
          description: The search term
          required: true
          schema:
            type: string
        - name: order
          in: query
          description: >-
            The sort field. if sort param is provided. Can be either asc or
            desc.
          schema:
            type: string
            default: desc
            enum:
              - desc
              - asc
        - name: start_page
          in: query
          description: The page number to fetch
          schema:
            type: string
        - name: sort
          in: query
          description: >-
            The sort field. One of stars, forks, or updated. Default: results
            are sorted by best match.
          schema:
            type: string
            enum:
              - updated
              - stars
              - forks
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search-users-by-keyword'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
  /markdown:
    post:
      description: Render an arbitrary Markdown document
      parameters:
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/markdown'
        required: true
      responses:
        '200':
          description: OK
          content: {}
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
      x-codegen-request-body-name: body
  /markdown/raw:
    post:
      description: Render a Markdown document in raw mode
      parameters:
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content: {}
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
  /meta:
    get:
      description: 'This gives some information about GitHub.com, the service.'
      parameters:
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/meta'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
  '/networks/{owner}/{repo}/events':
    get:
      description: List public events for a network of repositories.
      parameters:
        - name: owner
          in: path
          description: Name of the owner.
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: Name of repository.
          required: true
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
  /notifications:
    get:
      description: |
        List your notifications.
        List all notifications for the current user, grouped by repository.
      parameters:
        - name: all
          in: query
          description: True to show notifications marked as read.
          schema:
            type: boolean
        - name: participating
          in: query
          description: >
            True to show only notifications in which the user is directly
            participating

            or mentioned.
          schema:
            type: boolean
        - name: since
          in: query
          description: >
            The time should be passed in as UTC in the ISO 8601 format:
            YYYY-MM-DDTHH:MM:SSZ.

            Example: "2012-10-09T23:39:01Z".
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notifications'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
    put:
      description: >
        Mark as read.

        Marking a notification as "read" removes it from the default view on
        GitHub.com.
      parameters:
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/notificationMarkRead'
        required: true
      responses:
        '205':
          description: Marked as read.
          content: {}
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
      x-codegen-request-body-name: body
  '/notifications/threads/{id}':
    get:
      description: View a single thread.
      parameters:
        - name: id
          in: path
          description: Id of thread.
          required: true
          schema:
            type: integer
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notifications'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
    patch:
      description: Mark a thread as read
      parameters:
        - name: id
          in: path
          description: Id of thread.
          required: true
          schema:
            type: integer
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '205':
          description: Thread marked as read.
          content: {}
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
  '/notifications/threads/{id}/subscription':
    get:
      description: Get a Thread Subscription.
      parameters:
        - name: id
          in: path
          description: Id of thread.
          required: true
          schema:
            type: integer
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscription'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
    put:
      description: >
        Set a Thread Subscription.

        This lets you subscribe to a thread, or ignore it. Subscribing to a
        thread

        is unnecessary if the user is already subscribed to the repository.
        Ignoring

        a thread will mute all future notifications (until you comment or get
        @mentioned).
      parameters:
        - name: id
          in: path
          description: Id of thread.
          required: true
          schema:
            type: integer
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putSubscription'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscription'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
      x-codegen-request-body-name: body
    delete:
      description: Delete a Thread Subscription.
      parameters:
        - name: id
          in: path
          description: Id of thread.
          required: true
          schema:
            type: integer
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '204':
          description: |
            No Content
          content: {}
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
  '/orgs/{org}':
    get:
      description: Get an Organization.
      parameters:
        - name: org
          in: path
          description: Name of organisation.
          required: true
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organization'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
    patch:
      description: Edit an Organization.
      parameters:
        - name: org
          in: path
          description: Name of organisation.
          required: true
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchOrg'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organization'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
      x-codegen-request-body-name: body
  '/orgs/{org}/events':
    get:
      description: List public events for an organization.
      parameters:
        - name: org
          in: path
          description: Name of organisation.
          required: true
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
  '/orgs/{org}/issues':
    get:
      description: |
        List issues.
        List all issues for a given organization for the authenticated user.
      parameters:
        - name: org
          in: path
          description: Name of organisation.
          required: true
          schema:
            type: string
        - name: filter
          in: query
          description: >
            Issues assigned to you / created by you / mentioning you / you're

            subscribed to updates for / All issues the authenticated user can
            see
          required: true
          schema:
            type: string
            default: all
            enum:
              - assigned
              - created
              - mentioned
              - subscribed
              - all
        - name: state
          in: query
          required: true
          schema:
            type: string
            default: open
            enum:
              - open
              - closed
        - name: labels
          in: query
          description: 'String list of comma separated Label names. Example - bug,ui,@high.'
          required: true
          schema:
            type: string
        - name: sort
          in: query
          required: true
          schema:
            type: string
            default: created
            enum:
              - created
              - updated
              - comments
        - name: direction
          in: query
          required: true
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
        - name: since
          in: query
          description: >
            Optional string of a timestamp in ISO 8601 format:
            YYYY-MM-DDTHH:MM:SSZ.

            Only issues updated at or after this time are returned.
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issues'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
  '/orgs/{org}/members':
    get:
      description: >
        Members list.

        List all users who are members of an organization. A member is a user
        tha

        belongs to at least 1 team in the organization. If the authenticated
        user

        is also an owner of this organization then both concealed and public
        members

        will be returned. If the requester is not an owner of the organization
        the

        query will be redirected to the public members list.
      parameters:
        - name: org
          in: path
          description: Name of organisation.
          required: true
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/users'
        '302':
          description: Response if requester is not an organization member.
          content: {}
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
  '/orgs/{org}/members/{username}':
    get:
      description: 'Check if a user is, publicly or privately, a member of the organization.'
      parameters:
        - name: org
          in: path
          description: Name of organisation.
          required: true
          schema:
            type: string
        - name: username
          in: path
          description: Name of the user.
          required: true
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '204':
          description: >
            No content. Response if requester is an organization member and user
            is a member
          content: {}
        '302':
          description: |
            Found. Response if requester is not an organization member
          content: {}
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
        '404':
          description: >
            Not Found.

            a. Response if requester is an organization member and user is not a
            member

            b. Response if requester is not an organization member and is
            inquiring about themselves
          content: {}
    delete:
      description: |
        Remove a member.
        Removing a user from this list will remove them from all teams and they
        will no longer have any access to the organization's repositories.
      parameters:
        - name: org
          in: path
          description: Name of organisation.
          required: true
          schema:
            type: string
        - name: username
          in: path
          description: Name of the user.
          required: true
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '204':
          description: |
            No content.
          content: {}
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
  '/orgs/{org}/public_members':
    get:
      description: >
        Public members list.

        Members of an organization can choose to have their membership
        publicized

        or not.
      parameters:
        - name: org
          in: path
          description: Name of organisation.
          required: true
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/users'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
  '/orgs/{org}/public_members/{username}':
    get:
      description: Check public membership.
      parameters:
        - name: org
          in: path
          description: Name of organisation.
          required: true
          schema:
            type: string
        - name: username
          in: path
          description: Name of the user.
          required: true
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '204':
          description: User is a public member.
          content: {}
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
        '404':
          description: User is not a public member.
          content: {}
    put:
      description: Publicize a user's membership.
      parameters:
        - name: org
          in: path
          description: Name of organisation.
          required: true
          schema:
            type: string
        - name: username
          in: path
          description: Name of the user.
          required: true
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '204':
          description: Publicized.
          content: {}
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
    delete:
      description: Conceal a user's membership.
      parameters:
        - name: org
          in: path
          description: Name of organisation.
          required: true
          schema:
            type: string
        - name: username
          in: path
          description: Name of the user.
          required: true
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '204':
          description: Concealed.
          content: {}
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
  '/orgs/{org}/repos':
    get:
      description: List repositories for the specified org.
      parameters:
        - name: org
          in: path
          description: Name of organisation.
          required: true
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
            default: all
            enum:
              - all
              - public
              - private
              - forks
              - sources
              - member
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repos'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
    post:
      description: >
        Create a new repository for the authenticated user. OAuth users must
        supply

        repo scope.
      parameters:
        - name: org
          in: path
          description: Name of organisation.
          required: true
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postRepo'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repos'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
      x-codegen-request-body-name: body
  '/orgs/{org}/teams':
    get:
      description: List teams.
      parameters:
        - name: org
          in: path
          description: Name of organisation.
          required: true
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/teams'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
    post:
      description: >
        Create team.

        In order to create a team, the authenticated user must be an owner of
        organization.
      parameters:
        - name: org
          in: path
          description: Name of organisation.
          required: true
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orgTeamsPost'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/team'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
      x-codegen-request-body-name: body
  /rate_limit:
    get:
      description: |
        Get your current rate limit status
        Note: Accessing this endpoint does not count against your rate limit.
      parameters:
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rate_limit'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
  '/repos/{owner}/{repo}':
    get:
      description: Get repository.
      parameters:
        - name: owner
          in: path
          description: Name of repository owner.
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: Name of repository.
          required: true
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repo'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
    delete:
      description: >
        Delete a Repository.

        Deleting a repository requires admin access. If OAuth is used, the
        delete_repo

        scope is required.
      parameters:
        - name: owner
          in: path
          description: Name of repository owner.
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: Name of repository.
          required: true
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '204':
          description: Item removed.
          content: {}
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
    patch:
      description: Edit repository.
      parameters:
        - name: owner
          in: path
          description: Name of repository owner.
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: Name of repository.
          required: true
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/repoEdit'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repo'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
      x-codegen-request-body-name: body
  '/repos/{owner}/{repo}/assignees':
    get:
      description: >
        List assignees.

        This call lists all the available assignees (owner + collaborators) to
        which

        issues may be assigned.
      parameters:
        - name: owner
          in: path
          description: Name of repository owner.
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: Name of repository.
          required: true
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assignees'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
  '/repos/{owner}/{repo}/assignees/{assignee}':
    get:
      description: >
        Check assignee.

        You may also check to see if a particular user is an assignee for a
        repository.
      parameters:
        - name: owner
          in: path
          description: Name of repository owner.
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: Name of repository.
          required: true
          schema:
            type: string
        - name: assignee
          in: path
          description: Login of the assignee.
          required: true
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '204':
          description: User is an assignee.
          content: {}
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
        '404':
          description: User isn't an assignee.
          content: {}
  '/repos/{owner}/{repo}/branches':
    get:
      description: Get list of branches
      parameters:
        - name: owner
          in: path
          description: Name of repository owner.
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: Name of repository.
          required: true
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/branches'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
  '/repos/{owner}/{repo}/branches/{branch}':
    get:
      description: Get Branch
      parameters:
        - name: owner
          in: path
          description: Name of repository owner.
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: Name of repository.
          required: true
          schema:
            type: string
        - name: branch
          in: path
          description: Name of the branch.
          required: true
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/branch'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
  '/repos/{owner}/{repo}/collaborators':
    get:
      description: |
        List.
        When authenticating as an organization owner of an organization-owned
        repository, all organization owners are included in the list of
        collaborators. Otherwise, only users with access to the repository are
        returned in the collaborators list.
      parameters:
        - name: owner
          in: path
          description: Name of repository owner.
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: Name of repository.
          required: true
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/users'
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
  '/repos/{owner}/{repo}/collaborators/{user}':
    get:
      description: Check if user is a collaborator
      parameters:
        - name: owner
          in: path
          description: Name of repository owner.
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: Name of repository.
          required: true
          schema:
            type: string
        - name: user
          in: path
          description: Login of the user.
          required: true
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '204':
          description: User is a collaborator.
          content: {}
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
        '404':
          description: User is not a collaborator.
          content: {}
    put:
      description: Add collaborator.
      parameters:
        - name: owner
          in: path
          description: Name of repository owner.
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: Name of repository.
          required: true
          schema:
            type: string
        - name: user
          in: path
          description: Login of the user.
          required: true
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
            type: integer
        - name: X-GitHub-Request-Id
          in: header
          schema:
            type: integer
      responses:
        '204':
          description: Collaborator added.
          content: {}
        '403':
          description: >
            API rate limit exceeded. See
            http://developer.github.com/v3/#rate-limiting

            for details.
          content: {}
    delete:
      description: Remove collaborator.
      parameters:
        - name: owner
          in: path
          description: Name of repository owner.
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: Name of repository.
          required: true
          schema:
            type: string
        - name: user
          in: path
          description: Login of the user.
          required: true
          schema:
            type: string
        - name: X-GitHub-Media-Type
          in: header
          description: |
            You can check the current version of media type in responses.
          schema:
            type: string
        - name: Accept
          in: header
          description: Is used to set specified media type.
          schema:
            type: string
        - name: X-RateLimit-Limit
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Remaining
          in: header
          schema:
            type: integer
        - name: X-RateLimit-Reset
          in: header
          schema:
[...]
