openapi: 3.0.1
info:
  title: Transport for London Unified
  description: >-
    Our unified API brings together data across all modes of transport into a
    single RESTful API. This API provides access to the most highly requested
    realtime and status infomation across all the modes of transport, in a
    single and consistent way. Access to the developer documentation is
    available at https://api.tfl.gov.uk
  version: v1
  x-apisguru-categories:
    - transport
    - open_data
  x-logo:
    url: >-
      https://api.apis.guru/v2/cache/logo/https_twitter.com_TfL_profile_image.jpeg
  x-origin:
    - format: swagger
      url: 'https://api.tfl.gov.uk/swagger/docs/v1'
      version: '2.0'
  x-preferred: true
  x-providerName: tfl.gov.uk
  x-datafire:
    name: tfl_gov_uk
    type: openapi
servers:
  - url: 'https://api.tfl.gov.uk/'
paths:
  '/AccidentStats/{year}':
    get:
      tags:
        - AccidentStats
      summary: Gets all accident details for accidents occuring in the specified year
      operationId: AccidentStats_Get
      parameters:
        - name: year
          in: path
          description: The year for which to filter the accidents on.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.AccidentStats.AccidentDetail
            text/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.AccidentStats.AccidentDetail
            application/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.AccidentStats.AccidentDetail
            text/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.AccidentStats.AccidentDetail
      deprecated: false
  /AirQuality:
    get:
      tags:
        - AirQuality
      summary: Gets air quality data feed
      operationId: AirQuality_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
  /BikePoint:
    get:
      tags:
        - BikePoint
      summary: "Gets all bike point locations. The Place object has an addtionalProperties array which contains the nbBikes, nbDocks and nbSpaces\r\n            numbers which give the status of the BikePoint. A mismatch in these numbers i.e. nbDocks - (nbBikes + nbSpaces) != 0 indicates broken docks."
      operationId: BikePoint_GetAll
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
      deprecated: false
  /BikePoint/Search:
    get:
      tags:
        - BikePoint
      summary: "Search for bike stations by their name, a bike point's name often contains information about the name of the street\r\n            or nearby landmarks, for example. Note that the search result does not contain the PlaceProperties i.e. the status\r\n            or occupancy of the BikePoint, to get that information you should retrieve the BikePoint by its id on /BikePoint/id."
      operationId: BikePoint_Search
      parameters:
        - name: query
          in: query
          description: The search term e.g. "St. James"
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
      deprecated: false
  '/BikePoint/{id}':
    get:
      tags:
        - BikePoint
      summary: Gets the bike point with the given id.
      operationId: BikePoint_Get
      parameters:
        - name: id
          in: path
          description: >-
            A bike point id (a list of ids can be obtained from the above
            BikePoint call)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            text/json:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            text/xml:
              schema:
                $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
      deprecated: false
  /Cabwise/search:
    get:
      tags:
        - Cabwise
      summary: Gets taxis and minicabs contact information
      operationId: Cabwise_Get
      parameters:
        - name: lat
          in: query
          description: Latitude
          required: true
          schema:
            type: number
            format: double
        - name: lon
          in: query
          description: Longitude
          required: true
          schema:
            type: number
            format: double
        - name: optype
          in: query
          description: 'Operator Type e.g Minicab, Executive, Limousine'
          schema:
            type: string
        - name: wc
          in: query
          description: Wheelchair accessible
          schema:
            type: string
        - name: radius
          in: query
          description: The radius of the bounding circle in metres
          schema:
            type: number
            format: double
        - name: name
          in: query
          description: Trading name of operating company
          schema:
            type: string
        - name: maxResults
          in: query
          description: >-
            An optional parameter to limit the number of results return. Default
            and maximum is 20.
          schema:
            type: integer
            format: int32
        - name: legacyFormat
          in: query
          description: Legacy Format
          schema:
            type: boolean
        - name: forceXml
          in: query
          description: Force Xml
          schema:
            type: boolean
        - name: twentyFourSevenOnly
          in: query
          description: Twenty Four Seven Only
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
  '/Journey/JourneyResults/{from}/to/{to}':
    get:
      tags:
        - Journey
      summary: >-
        Perform a Journey Planner search from the parameters specified in simple
        types
      operationId: Journey_JourneyResults
      parameters:
        - name: from
          in: path
          description: >-
            Origin of the journey. Can be WGS84 coordinates expressed as
            "lat,long", a UK postcode, a Naptan (StopPoint) id, an ICS StopId,
            or a free-text string (will cause disambiguation unless it exactly
            matches a point of interest name).
          required: true
          schema:
            type: string
        - name: to
          in: path
          description: >-
            Destination of the journey. Can be WGS84 coordinates expressed as
            "lat,long", a UK postcode, a Naptan (StopPoint) id, an ICS StopId,
            or a free-text string (will cause disambiguation unless it exactly
            matches a point of interest name).
          required: true
          schema:
            type: string
        - name: via
          in: query
          description: >-
            Travel through point on the journey. Can be WGS84 coordinates
            expressed as "lat,long", a UK postcode, a Naptan (StopPoint) id, an
            ICS StopId, or a free-text string (will cause disambiguation unless
            it exactly matches a point of interest name).
          schema:
            type: string
        - name: nationalSearch
          in: query
          description: >-
            Does the journey cover stops outside London? eg.
            "nationalSearch=true"
          schema:
            type: boolean
        - name: date
          in: query
          description: The date must be in yyyyMMdd format
          schema:
            type: string
        - name: time
          in: query
          description: The time must be in HHmm format
          schema:
            type: string
        - name: timeIs
          in: query
          description: >-
            Does the time given relate to arrival or leaving time? Possible
            options: "departing" | "arriving"
          schema:
            type: string
            enum:
              - Arriving
              - Departing
        - name: journeyPreference
          in: query
          description: >-
            The journey preference eg possible options: "leastinterchange" |
            "leasttime" | "leastwalking"
          schema:
            type: string
            enum:
              - LeastInterchange
              - LeastTime
              - LeastWalking
        - name: mode
          in: query
          description: >-
            The mode must be a comma separated list of modes. eg possible
            options:
            "public-bus,overground,train,tube,coach,dlr,cablecar,tram,river,walking,cycle"
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: accessibilityPreference
          in: query
          description: >-
            The accessibility preference must be a comma separated list eg.
            "noSolidStairs,noEscalators,noElevators,stepFreeToVehicle,stepFreeToPlatform"
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - NoRequirements
                - NoSolidStairs
                - NoEscalators
                - NoElevators
                - StepFreeToVehicle
                - StepFreeToPlatform
        - name: fromName
          in: query
          description: >-
            An optional name to associate with the origin of the journey in the
            results.
          schema:
            type: string
        - name: toName
          in: query
          description: >-
            An optional name to associate with the destination of the journey in
            the results.
          schema:
            type: string
        - name: viaName
          in: query
          description: >-
            An optional name to associate with the via point of the journey in
            the results.
          schema:
            type: string
        - name: maxTransferMinutes
          in: query
          description: The max walking time in minutes for transfer eg. "120"
          schema:
            type: string
        - name: maxWalkingMinutes
          in: query
          description: The max walking time in minutes for journeys eg. "120"
          schema:
            type: string
        - name: walkingSpeed
          in: query
          description: 'The walking speed. eg possible options: "slow" | "average" | "fast".'
          schema:
            type: string
            enum:
              - Slow
              - Average
              - Fast
        - name: cyclePreference
          in: query
          description: >-
            The cycle preference. eg possible options: "allTheWay" |
            "leaveAtStation" | "takeOnTransport" | "cycleHire"
          schema:
            type: string
            enum:
              - None
              - LeaveAtStation
              - TakeOnTransport
              - AllTheWay
              - CycleHire
        - name: adjustment
          in: query
          description: >-
            Time adjustment command. eg possible options: "TripFirst" |
            "TripLast"
          schema:
            type: string
        - name: bikeProficiency
          in: query
          description: >-
            A comma separated list of cycling proficiency levels. eg possible
            options: "easy,moderate,fast"
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - Easy
                - Moderate
                - Fast
        - name: alternativeCycle
          in: query
          description: Option to determine whether to return alternative cycling journey
          schema:
            type: boolean
        - name: alternativeWalking
          in: query
          description: Option to determine whether to return alternative walking journey
          schema:
            type: boolean
        - name: applyHtmlMarkup
          in: query
          description: >-
            Flag to determine whether certain text (e.g. walking instructions)
            should be output with HTML tags or not.
          schema:
            type: boolean
        - name: useMultiModalCall
          in: query
          description: >-
            A boolean to indicate whether or not to return 3 public transport
            journeys, a bus journey, a cycle hire journey, a personal cycle
            journey and a walking journey
          schema:
            type: boolean
        - name: walkingOptimization
          in: query
          description: A boolean to indicate whether to optimize journeys using walking
          schema:
            type: boolean
        - name: taxiOnlyTrip
          in: query
          description: >-
            A boolean to indicate whether to return one or more taxi journeys.
            Note, setting this to true will override "useMultiModalCall".
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.JourneyPlanner.ItineraryResult
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.JourneyPlanner.ItineraryResult
            application/xml:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.JourneyPlanner.ItineraryResult
            text/xml:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.JourneyPlanner.ItineraryResult
      deprecated: false
  /Journey/Meta/Modes:
    get:
      tags:
        - Journey
      summary: Gets a list of all of the available journey planner modes
      operationId: Journey_Meta
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
      deprecated: false
  /Line/Meta/DisruptionCategories:
    get:
      tags:
        - Line
      summary: Gets a list of valid disruption categories
      operationId: Line_MetaDisruptionCategories
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
            text/json:
              schema:
                type: array
                items:
                  type: string
            application/xml:
              schema:
                type: array
                items:
                  type: string
            text/xml:
              schema:
                type: array
                items:
                  type: string
      deprecated: false
  /Line/Meta/Modes:
    get:
      tags:
        - Line
      summary: Gets a list of valid modes
      operationId: Line_MetaModes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
      deprecated: false
  /Line/Meta/ServiceTypes:
    get:
      tags:
        - Line
      summary: Gets a list of valid ServiceTypes to filter on
      operationId: Line_MetaServiceTypes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
            text/json:
              schema:
                type: array
                items:
                  type: string
            application/xml:
              schema:
                type: array
                items:
                  type: string
            text/xml:
              schema:
                type: array
                items:
                  type: string
      deprecated: false
  /Line/Meta/Severity:
    get:
      tags:
        - Line
      summary: Gets a list of valid severity codes
      operationId: Line_MetaSeverity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity
            text/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity
            application/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity
            text/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity
      deprecated: false
  '/Line/Mode/{modes}':
    get:
      tags:
        - Line
      summary: Gets lines that serve the given modes.
      operationId: Line_GetByMode
      parameters:
        - name: modes
          in: path
          description: 'A comma-separated list of modes e.g. tube,dlr'
          required: true
          style: simple
          explode: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
      deprecated: false
  '/Line/Mode/{modes}/Disruption':
    get:
      tags:
        - Line
      summary: Get disruptions for all lines of the given modes.
      operationId: Line_DisruptionByMode
      parameters:
        - name: modes
          in: path
          description: 'A comma-separated list of modes e.g. tube,dlr'
          required: true
          style: simple
          explode: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.Disruption
            text/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.Disruption
            application/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.Disruption
            text/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.Disruption
      deprecated: false
  '/Line/Mode/{modes}/Route':
    get:
      tags:
        - Line
      summary: >-
        Gets all lines and their valid routes for given modes, including the
        name and id of the originating and terminating stops for each route
      operationId: Line_RouteByMode
      parameters:
        - name: modes
          in: path
          description: 'A comma-separated list of modes e.g. tube,dlr'
          required: true
          style: simple
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: serviceTypes
          in: query
          description: >-
            A comma seperated list of service types to filter on. Supported
            values: Regular, Night. Defaulted to 'Regular' if not specified
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - Regular
                - Night
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
      deprecated: false
  '/Line/Mode/{modes}/Status':
    get:
      tags:
        - Line
      summary: Gets the line status of for all lines for the given modes
      operationId: Line_StatusByMode
      parameters:
        - name: modes
          in: path
          description: 'A comma-separated list of modes to filter by. e.g. tube,dlr'
          required: true
          style: simple
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: detail
          in: query
          description: >-
            Include details of the disruptions that are causing the line status
            including the affected stops and routes
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
      deprecated: false
  /Line/Route:
    get:
      tags:
        - Line
      summary: >-
        Get all valid routes for all lines, including the name and id of the
        originating and terminating stops for each route.
      operationId: Line_Route
      parameters:
        - name: serviceTypes
          in: query
          description: >-
            A comma seperated list of service types to filter on. Supported
            values: Regular, Night. Defaulted to 'Regular' if not specified
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - Regular
                - Night
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
      deprecated: false
  '/Line/Search/{query}':
    get:
      tags:
        - Line
      summary: Search for lines or routes matching the query string
      operationId: Line_Search
      parameters:
        - name: query
          in: path
          description: Search term e.g victoria
          required: true
          schema:
            type: string
        - name: modes
          in: query
          description: Optionally filter by the specified modes
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: serviceTypes
          in: query
          description: >-
            A comma seperated list of service types to filter on. Supported
            values: Regular, Night. Defaulted to 'Regular' if not specified
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - Regular
                - Night
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.RouteSearchResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.RouteSearchResponse
            application/xml:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.RouteSearchResponse
            text/xml:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.RouteSearchResponse
      deprecated: false
  '/Line/Status/{severity}':
    get:
      tags:
        - Line
      summary: "Gets the line status for all lines with a given severity\r\n            A list of valid severity codes can be obtained from a call to Line/Meta/Severity"
      operationId: Line_StatusBySeverity
      parameters:
        - name: severity
          in: path
          description: 'The level of severity (eg: a number from 0 to 14)'
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
      deprecated: false
  '/Line/{ids}':
    get:
      tags:
        - Line
      summary: Gets lines that match the specified line ids.
      operationId: Line_Get
      parameters:
        - name: ids
          in: path
          description: >-
            A comma-separated list of line ids e.g. victoria,circle,N133. Max.
            approx. 20 ids.
          required: true
          style: simple
          explode: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
      deprecated: false
  '/Line/{ids}/Arrivals/{stopPointId}':
    get:
      tags:
        - Line
      summary: >-
        Get the list of arrival predictions for given line ids based at the
        given stop
      operationId: Line_Arrivals
      parameters:
        - name: ids
          in: path
          description: >-
            A comma-separated list of line ids e.g. victoria,circle,N133. Max.
            approx. 20 ids.
          required: true
          style: simple
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: stopPointId
          in: path
          description: >-
            Optional. Id of stop to get arrival predictions for (station naptan
            code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query}
            endpoint to find a stop point id from a station name)
          required: true
          schema:
            type: string
        - name: direction
          in: query
          description: >-
            Optional. The direction of travel. Can be inbound or outbound or
            all. If left blank, and destinationStopId is set, will default to
            all
          schema:
            type: string
            enum:
              - inbound
              - outbound
              - all
        - name: destinationStationId
          in: query
          description: Optional. Id of destination stop
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.Prediction
            text/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.Prediction
            application/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.Prediction
            text/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.Prediction
      deprecated: false
  '/Line/{ids}/Disruption':
    get:
      tags:
        - Line
      summary: Get disruptions for the given line ids
      operationId: Line_Disruption
      parameters:
        - name: ids
          in: path
          description: >-
            A comma-separated list of line ids e.g. victoria,circle,N133. Max.
            approx. 20 ids.
          required: true
          style: simple
          explode: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.Disruption
            text/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.Disruption
            application/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.Disruption
            text/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.Disruption
      deprecated: false
  '/Line/{ids}/Route':
    get:
      tags:
        - Line
      summary: >-
        Get all valid routes for given line ids, including the name and id of
        the originating and terminating stops for each route.
      operationId: Line_LineRoutesByIds
      parameters:
        - name: ids
          in: path
          description: >-
            A comma-separated list of line ids e.g. victoria,circle,N133. Max.
            approx. 20 ids.
          required: true
          style: simple
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: serviceTypes
          in: query
          description: >-
            A comma seperated list of service types to filter on. Supported
            values: Regular, Night. Defaulted to 'Regular' if not specified
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - Regular
                - Night
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
      deprecated: false
  '/Line/{ids}/Status':
    get:
      tags:
        - Line
      summary: Gets the line status of for given line ids e.g Minor Delays
      operationId: Line_StatusByIds
      parameters:
        - name: ids
          in: path
          description: >-
            A comma-separated list of line ids e.g. victoria,circle,N133. Max.
            approx. 20 ids.
          required: true
          style: simple
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: detail
          in: query
          description: >-
            Include details of the disruptions that are causing the line status
            including the affected stops and routes
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
      deprecated: false
  '/Line/{ids}/Status/{StartDate}/to/{EndDate}':
    get:
      tags:
        - Line
      summary: >-
        Gets the line status for given line ids during the provided dates e.g
        Minor Delays
      operationId: Line_Status
      parameters:
        - name: ids
          in: path
          description: >-
            A comma-separated list of line ids e.g. victoria,circle,N133. Max.
            approx. 20 ids.
          required: true
          style: simple
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: detail
          in: query
          description: >-
            Include details of the disruptions that are causing the line status
            including the affected stops and routes
          schema:
            type: boolean
        - name: startDate
          in: query
          required: true
          schema:
            type: string
        - name: endDate
          in: query
          required: true
          schema:
            type: string
        - name: dateRange.startDate
          in: query
          schema:
            type: string
            format: date-time
        - name: dateRange.endDate
          in: query
          schema:
            type: string
            format: date-time
        - name: StartDate
          in: path
          required: true
          schema:
            type: string
        - name: EndDate
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Line'
      deprecated: false
  '/Line/{id}/Route/Sequence/{direction}':
    get:
      tags:
        - Line
      summary: >-
        Gets all valid routes for given line id, including the sequence of stops
        on each route.
      operationId: Line_RouteSequence
      parameters:
        - name: id
          in: path
          description: A single line id e.g. victoria
          required: true
          schema:
            type: string
        - name: direction
          in: path
          description: The direction of travel. Can be inbound or outbound.
          required: true
          schema:
            type: string
            enum:
              - inbound
              - outbound
              - all
        - name: serviceTypes
          in: query
          description: >-
            A comma seperated list of service types to filter on. Supported
            values: Regular, Night. Defaulted to 'Regular' if not specified
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - Regular
                - Night
        - name: excludeCrowding
          in: query
          description: That excludes crowding from line disruptions. Can be true or false.
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.RouteSequence
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.RouteSequence
            application/xml:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.RouteSequence
            text/xml:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.RouteSequence
      deprecated: false
  '/Line/{id}/StopPoints':
    get:
      tags:
        - Line
      summary: Gets a list of the stations that serve the given line id
      operationId: Line_StopPoints
      parameters:
        - name: id
          in: path
          description: A single line id e.g. victoria
          required: true
          schema:
            type: string
        - name: tflOperatedNationalRailStationsOnly
          in: query
          description: >-
            If the national-rail line is requested, this flag will filter the
            national rail stations so that only those operated by TfL are
            returned
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint'
      deprecated: false
  '/Line/{id}/Timetable/{fromStopPointId}':
    get:
      tags:
        - Line
      summary: Gets the timetable for a specified station on the give line
      operationId: Line_Timetable
      parameters:
        - name: fromStopPointId
          in: path
          description: >-
            The originating station's stop point id (station naptan code e.g.
            940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find
            a stop point id from a station name)
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: A single line id e.g. victoria
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse
            application/xml:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse
            text/xml:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse
      deprecated: false
  '/Line/{id}/Timetable/{fromStopPointId}/to/{toStopPointId}':
    get:
      tags:
        - Line
      summary: >-
        Gets the timetable for a specified station on the give line with
        specified destination
      operationId: Line_TimetableTo
      parameters:
        - name: fromStopPointId
          in: path
          description: >-
            The originating station's stop point id (station naptan code e.g.
            940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find
            a stop point id from a station name)
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: A single line id e.g. victoria
          required: true
          schema:
            type: string
        - name: toStopPointId
          in: path
          description: The destination stations's Naptan code
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse
            application/xml:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse
            text/xml:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse
      deprecated: false
  /Mode/ActiveServiceTypes:
    get:
      tags:
        - Mode
      summary: "Returns the service type active for a mode.\r\n            Currently only supports tube"
      operationId: Mode_GetActiveServiceTypes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.ActiveServiceType
            text/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.ActiveServiceType
            application/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.ActiveServiceType
            text/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.ActiveServiceType
      deprecated: false
  '/Mode/{mode}/Arrivals':
    get:
      tags:
        - Mode
      summary: Gets the next arrival predictions for all stops of a given mode
      operationId: Mode_Arrivals
      parameters:
        - name: mode
          in: path
          description: 'A mode name e.g. tube, dlr'
          required: true
          schema:
            type: string
        - name: count
          in: query
          description: >-
            A number of arrivals to return for each stop, -1 to return all
            available.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.Prediction
            text/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.Prediction
            application/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.Prediction
            text/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.Prediction
      deprecated: false
  '/Occupancy/BikePoints/{ids}':
    get:
      tags:
        - Occupancy
      summary: Get the occupancy for bike points.
      operationId: Occupancy_GetBikePointsOccupancies
      parameters:
        - name: ids
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.BikePointOccupancy
            text/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.BikePointOccupancy
            application/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.BikePointOccupancy
            text/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.BikePointOccupancy
      deprecated: false
  /Occupancy/CarPark:
    get:
      tags:
        - Occupancy
      summary: Gets the occupancy for all car parks that have occupancy data
      operationId: Occupancy.CarPark.get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy
            text/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy
            application/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy
            text/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy
      deprecated: false
  '/Occupancy/CarPark/{id}':
    get:
      tags:
        - Occupancy
      summary: Gets the occupancy for a car park with a given id
      operationId: Occupancy.CarPark.id.get
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy
            application/xml:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy
            text/xml:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy
      deprecated: false
  /Occupancy/ChargeConnector:
    get:
      tags:
        - Occupancy
      summary: Gets the occupancy for all charge connectors
      operationId: Occupancy_GetAllChargeConnectorStatus
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy
            text/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy
            application/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy
            text/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy
      deprecated: false
  '/Occupancy/ChargeConnector/{ids}':
    get:
      tags:
        - Occupancy
      summary: >-
        Gets the occupancy for a charge connectors with a given id
        (sourceSystemPlaceId)
      operationId: Occupancy_GetChargeConnectorStatus
      parameters:
        - name: ids
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy
            text/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy
            application/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy
            text/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy
      deprecated: false
  /Place:
    get:
      tags:
        - Place
      summary: "Gets the places that lie within a geographic region. The geographic region of interest can either be specified\r\n            by using a lat/lon geo-point and a radius in metres to return places within the locus defined by the lat/lon of\r\n            its centre or alternatively, by the use of a bounding box defined by the lat/lon of its north-west and south-east corners.\r\n            Optionally filters on type and can strip properties for a smaller payload."
      operationId: Place_GetByGeo
      parameters:
        - name: radius
          in: query
          description: >-
            The radius of the bounding circle in metres when only lat/lon are
            specified.
          schema:
            type: number
            format: double
        - name: categories
          in: query
          description: >-
            An optional list of comma separated property categories to return in
            the Place's property bag. If null or empty, all categories of
            property are returned. Pass the keyword "none" to return no
            properties (a valid list of categories can be obtained from the
            /Place/Meta/categories endpoint)
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: includeChildren
          in: query
          description: >-
            Defaults to false. If true child places e.g. individual charging
            stations at a charge point while be included, otherwise just the
            URLs of any child places will be returned
          schema:
            type: boolean
        - name: type
          in: query
          description: 'Place types to filter on, or null to return all types'
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: activeOnly
          in: query
          description: >-
            An optional parameter to limit the results to active records only
            (Currently only the 'VariableMessageSign' place type is supported)
          schema:
            type: boolean
        - name: numberOfPlacesToReturn
          in: query
          description: >-
            If specified, limits the number of returned places equal to the
            given value
          schema:
            type: integer
            format: int32
        - name: placeGeo.swLat
          in: query
          schema:
            type: number
            format: double
        - name: placeGeo.swLon
          in: query
          schema:
            type: number
            format: double
        - name: placeGeo.neLat
          in: query
          schema:
            type: number
            format: double
        - name: placeGeo.neLon
          in: query
          schema:
            type: number
            format: double
        - name: placeGeo.lat
          in: query
          schema:
            type: number
            format: double
        - name: placeGeo.lon
          in: query
          schema:
            type: number
            format: double
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint'
      deprecated: false
  '/Place/Address/Streets/{Postcode}':
    get:
      tags:
        - Place
      summary: Gets the set of streets associated with a post code.
      operationId: Place_GetStreetsByPostCode
      parameters:
        - name: postcode
          in: query
          required: true
          schema:
            type: string
        - name: postcodeInput.postcode
          in: query
          schema:
            pattern: >-
              ^(([gG][iI][rR]
              {0,}0[aA]{2})|((([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y]?[0-9][0-9]?)|(([a-pr-uwyzA-PR-UWYZ][0-9][a-hjkstuwA-HJKSTUW])|([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y][0-9][abehmnprv-yABEHMNPRV-Y])))
              {0,}[0-9][abd-hjlnp-uw-zABD-HJLNP-UW-Z]{2}))$
            type: string
        - name: Postcode
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
  /Place/Meta/Categories:
    get:
      tags:
        - Place
      summary: Gets a list of all of the available place property categories and keys.
      operationId: Place_MetaCategories
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory
            text/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory
            application/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory
            text/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory
      deprecated: false
  /Place/Meta/PlaceTypes:
    get:
      tags:
        - Place
      summary: Gets a list of the available types of Place.
      operationId: Place_MetaPlaceTypes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory
            text/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory
            application/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory
            text/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory
      deprecated: false
  /Place/Search:
    get:
      tags:
        - Place
      summary: Gets all places that matches the given query
      operationId: Place_Search
      parameters:
        - name: name
          in: query
          description: >-
            The name of the place, you can use the /Place/Types/{types} endpoint
            to get a list of places for a given type including their names.
          required: true
          schema:
            type: string
        - name: types
          in: query
          description: A comma-separated list of the types to return. Max. approx 12 types.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
      deprecated: false
  '/Place/Type/{types}':
    get:
      tags:
        - Place
      summary: Gets all places of a given type
      operationId: Place_GetByType
      parameters:
        - name: types
          in: path
          description: "A comma-separated list of the types to return. Max. approx 12 types.\r\n            A valid list of place types can be obtained from the /Place/Meta/placeTypes endpoint."
          required: true
          style: simple
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: activeOnly
          in: query
          description: >-
            An optional parameter to limit the results to active records only
            (Currently only the 'VariableMessageSign' place type is supported)
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
      deprecated: false
  '/Place/{id}':
    get:
      tags:
        - Place
      summary: Gets the place with the given id.
      operationId: Place_Get
      parameters:
        - name: id
          in: path
          description: >-
            The id of the place, you can use the /Place/Types/{types} endpoint
            to get a list of places for a given type including their ids
          required: true
          schema:
            type: string
        - name: includeChildren
          in: query
          description: >-
            Defaults to false. If true child places e.g. individual charging
            stations at a charge point while be included, otherwise just the
            URLs of any child places will be returned
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Place'
      deprecated: false
  '/Place/{type}/At/{Lat}/{Lon}':
    get:
      tags:
        - Place
      summary: "Gets any places of the given type whose geography intersects the given latitude and longitude. In practice this means the Place\r\n            must be polygonal e.g. a BoroughBoundary."
      operationId: Place_GetAt
      parameters:
        - name: type
          in: path
          description: >-
            The place type (a valid list of place types can be obtained from the
            /Place/Meta/placeTypes endpoint)
          required: true
          style: simple
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: lat
          in: query
          required: true
          schema:
            type: string
        - name: lon
          in: query
          required: true
          schema:
            type: string
        - name: location.lat
          in: query
          required: true
          schema:
            type: number
            format: double
        - name: location.lon
          in: query
          required: true
          schema:
            type: number
            format: double
        - name: Lat
          in: path
          required: true
          schema:
            type: string
        - name: Lon
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
  '/Place/{type}/overlay/{z}/{Lat}/{Lon}/{width}/{height}':
    get:
      tags:
        - Place
      summary: >-
        Gets the place overlay for a given set of co-ordinates and a given
        width/height.
      operationId: Place_GetOverlay
      parameters:
        - name: z
          in: path
          description: The zoom level
          required: true
          schema:
            type: integer
            format: int32
        - name: type
          in: path
          description: >-
            The place type (a valid list of place types can be obtained from the
            /Place/Meta/placeTypes endpoint)
          required: true
          style: simple
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: width
          in: path
          description: The width of the requested overlay.
          required: true
          schema:
            type: integer
            format: int32
        - name: height
          in: path
          description: The height of the requested overlay.
          required: true
          schema:
            type: integer
            format: int32
        - name: lat
          in: query
          required: true
          schema:
            type: string
        - name: lon
          in: query
          required: true
          schema:
            type: string
        - name: location.lat
          in: query
          required: true
          schema:
            type: number
            format: double
        - name: location.lon
          in: query
          required: true
          schema:
            type: number
            format: double
        - name: Lat
          in: path
          required: true
          schema:
            type: string
        - name: Lon
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
  /Road:
    get:
      tags:
        - Road
      summary: Gets all roads managed by TfL
      operationId: Road.get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor
            text/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor
            application/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor
            text/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor
      deprecated: false
  /Road/Meta/Categories:
    get:
      tags:
        - Road
      summary: Gets a list of valid RoadDisruption categories
      operationId: Road_MetaCategories
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
            text/json:
              schema:
                type: array
                items:
                  type: string
            application/xml:
              schema:
                type: array
                items:
                  type: string
            text/xml:
              schema:
                type: array
                items:
                  type: string
      deprecated: false
  /Road/Meta/Severities:
    get:
      tags:
        - Road
      summary: Gets a list of valid RoadDisruption severity codes
      operationId: Road_MetaSeverities
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity
            text/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity
            application/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity
            text/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity
      deprecated: false
  '/Road/all/Disruption/{disruptionIds}':
    get:
      tags:
        - Road
      summary: Gets a list of active disruptions filtered by disruption Ids.
      operationId: Road_DisruptionById
      parameters:
        - name: disruptionIds
          in: path
          description: Comma-separated list of disruption identifiers to filter by.
          required: true
          style: simple
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: stripContent
          in: query
          description: >-
            Optional, defaults to false. When true, removes every property/node
            except for id, point, severity, severityDescription, startDate,
            endDate, corridor details, location and comments.
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption
            application/xml:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption
            text/xml:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption
            application/geo+json:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption
      deprecated: false
  /Road/all/Street/Disruption:
    get:
      tags:
        - Road
      summary: >-
        Gets a list of disrupted streets. If no date filters are provided,
        current disruptions are returned.
      operationId: Road_DisruptedStreets
      parameters:
        - name: startDate
          in: query
          description: 'Optional, the start time to filter on.'
          required: true
          schema:
            type: string
            format: date-time
        - name: endDate
          in: query
          description: 'Optional, The end time to filter on.'
          required: true
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
  '/Road/{ids}':
    get:
      tags:
        - Road
      summary: Gets the road with the specified id (e.g. A1)
      operationId: Road.ids.get
      parameters:
        - name: ids
          in: path
          description: >-
            Comma-separated list of road identifiers e.g. "A406, A2" (a full
            list of supported road identifiers can be found at the /Road/
            endpoint)
          required: true
          style: simple
          explode: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor
            text/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor
            application/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor
            text/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor
      deprecated: false
  '/Road/{ids}/Disruption':
    get:
      tags:
        - Road
      summary: 'Get active disruptions, filtered by road ids'
      operationId: Road_Disruption
      parameters:
        - name: ids
          in: path
          description: >-
            Comma-separated list of road identifiers e.g. "A406, A2" use all for
            all to ignore id filter (a full list of supported road identifiers
            can be found at the /Road/ endpoint)
          required: true
          style: simple
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: stripContent
          in: query
          description: >-
            Optional, defaults to false. When true, removes every property/node
            except for id, point, severity, severityDescription, startDate,
            endDate, corridor details, location, comments and streets
          schema:
            type: boolean
        - name: severities
          in: query
          description: >-
            an optional list of Severity names to filter on (a valid list of
            severities can be obtained from the /Road/Meta/severities endpoint)
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: categories
          in: query
          description: >-
            an optional list of category names to filter on (a valid list of
            categories can be obtained from the /Road/Meta/categories endpoint)
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: closures
          in: query
          description: >-
            Optional, defaults to true. When true, always includes disruptions
            that have road closures, regardless of the severity filter. When
            false, the severity filter works as normal.
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption
            text/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption
            application/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption
            text/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption
            application/geo+json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.RoadDisruption
      deprecated: false
  '/Road/{ids}/Status':
    get:
      tags:
        - Road
      summary: >-
        Gets the specified roads with the status aggregated over the date range
        specified, or now until the end of today if no dates are passed.
      operationId: Road_Status
      parameters:
        - name: ids
          in: path
          description: >-
            Comma-separated list of road identifiers e.g. "A406, A2" or use
            "all" to ignore id filter (a full list of supported road identifiers
            can be found at the /Road/ endpoint)
          required: true
          style: simple
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: dateRangeNullable.startDate
          in: query
          schema:
            type: string
            format: date-time
        - name: dateRangeNullable.endDate
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor
            text/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor
            application/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor
            text/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.RoadCorridor
      deprecated: false
  /Search:
    get:
      tags:
        - Search
      summary: "Search the site for occurrences of the query string. The maximum number of results returned is equal to the maximum page size\r\n            of 100. To return subsequent pages, use the paginated overload."
      operationId: Search_Get
      parameters:
        - name: query
          in: query
          description: The search query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse
            application/xml:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse
            text/xml:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse
      deprecated: false
  /Search/BusSchedules:
    get:
      tags:
        - Search
      summary: Searches the bus schedules folder on S3 for a given bus number.
      operationId: Search_BusSchedules
      parameters:
        - name: query
          in: query
          description: The search query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse
            application/xml:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse
            text/xml:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse
      deprecated: false
  /Search/Meta/Categories:
    get:
      tags:
        - Search
      summary: Gets the available search categories.
      operationId: Search_MetaCategories
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
            text/json:
              schema:
                type: array
                items:
                  type: string
            application/xml:
              schema:
                type: array
                items:
                  type: string
            text/xml:
              schema:
                type: array
                items:
                  type: string
      deprecated: false
  /Search/Meta/SearchProviders:
    get:
      tags:
        - Search
      summary: Gets the available searchProvider names.
      operationId: Search_MetaSearchProviders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
            text/json:
              schema:
                type: array
                items:
                  type: string
            application/xml:
              schema:
                type: array
                items:
                  type: string
            text/xml:
              schema:
                type: array
                items:
                  type: string
      deprecated: false
  /Search/Meta/Sorts:
    get:
      tags:
        - Search
      summary: Gets the available sorting options.
      operationId: Search_MetaSorts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
            text/json:
              schema:
                type: array
                items:
                  type: string
            application/xml:
              schema:
                type: array
                items:
                  type: string
            text/xml:
              schema:
                type: array
                items:
                  type: string
      deprecated: false
  /StopPoint:
    get:
      tags:
        - StopPoint
      summary: 'Gets a list of StopPoints within {radius} by the specified criteria'
      operationId: StopPoint_GetByGeoPoint
      parameters:
        - name: stopTypes
          in: query
          description: >-
            a list of stopTypes that should be returned (a list of valid stop
            types can be obtained from the StopPoint/meta/stoptypes endpoint)
          required: true
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: radius
          in: query
          description: 'the radius of the bounding circle in metres (default : 200)'
          schema:
            type: integer
            format: int32
        - name: useStopPointHierarchy
          in: query
          description: Re-arrange the output into a parent/child hierarchy
          schema:
            type: boolean
        - name: modes
          in: query
          description: >-
            the list of modes to search (comma separated mode names e.g.
            tube,dlr)
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: categories
          in: query
          description: >-
            an optional list of comma separated property categories to return in
            the StopPoint's property bag. If null or empty, all categories of
            property are returned. Pass the keyword "none" to return no
            properties (a valid list of categories can be obtained from the
            /StopPoint/Meta/categories endpoint)
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: returnLines
          in: query
          description: >-
            true to return the lines that each stop point serves as a nested
            resource
          schema:
            type: boolean
        - name: location.lat
          in: query
          required: true
          schema:
            type: number
            format: double
        - name: location.lon
          in: query
          required: true
          schema:
            type: number
            format: double
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.StopPointsResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.StopPointsResponse
            application/xml:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.StopPointsResponse
            text/xml:
              schema:
                $ref: >-
                  #/components/schemas/Tfl.Api.Presentation.Entities.StopPointsResponse
      deprecated: false
  /StopPoint/Meta/Categories:
    get:
      tags:
        - StopPoint
      summary: Gets the list of available StopPoint additional information categories
      operationId: StopPoint_MetaCategories
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.StopPointCategory
            text/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.StopPointCategory
            application/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.StopPointCategory
            text/xml:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/Tfl.Api.Presentation.Entities.StopPointCategory
      deprecated: false
  /StopPoint/Meta/Modes:
    get:
      tags:
        - StopPoint
      summary: Gets the list of available StopPoint modes
      operationId: StopPoint_MetaModes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tfl.Api.Presentation.Entities.Mode'
      deprecated: false
  /StopPoint/Meta/StopTypes:
    get:
      tags:
        - StopPoint
      summary: Gets the list of available StopPoint types
      operationId: StopPoint_MetaStopTypes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
            text/json:
              schema:
                type: array
                items:
                  type: string
            application/xml:
              schema:
                type: array
                items:
                  type: string
            text/xml:
              schema:
                type: array
                items:
                  type: string
      deprecated: false
  '/StopPoint/Mode/{modes}':
    get:
      tags:
        - StopPoint
      summary: >-
        Gets a list of StopPoints filtered by the modes available at that
        StopPoint.
      operationId: StopPoint_GetByMode
      parameters:
        - name: modes
          in: path
          description: 'A comma-seperated list of modes e.g. tube,dlr'
          required: true
          style: simple
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: page
          in: query
          description: >-
            The data set page to return. Page 1 equates to the first 1000 stop
            points, page 2 equates to 1001-2000 etc. Must be entered for bus
            mode as data set is too large.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
[...]
