openapi: 3.0.1
info:
  title: BigCommerce Catalog API
  description: A Swagger Document for the BigCommmerce API V3.
  termsOfService: 'http://www.bigcommerce.com/terms'
  version: 3.0.0b
servers:
  - url: 'https://api.bigcommerce.com/stores/{{store_id}}/v3'
tags:
  - name: Catalog
    description: BigCommerce Catalog API Definition
paths:
  /catalog/products:
    get:
      tags:
        - Catalog
      description: >
        Returns a paginated collection of `Products` objects from the
        BigCommerce Catalog.
      operationId: getProducts
      parameters:
        - name: id
          in: query
          description: |
            Filter items by id.
          schema:
            type: integer
        - name: name
          in: query
          description: |
            Filter items by name.
          schema:
            type: string
        - name: sku
          in: query
          description: |
            Filter items by sku.
          schema:
            type: string
        - name: upc
          in: query
          description: |
            Filter items by upc.
          schema:
            type: string
        - name: price
          in: query
          description: |
            Filter items by price.
          schema:
            type: number
        - name: weight
          in: query
          description: |
            Filter items by weight.
          schema:
            type: number
        - name: condition
          in: query
          description: |
            Filter items by condition.
          schema:
            type: integer
        - name: brand_id
          in: query
          description: |
            Filter items by brand_id.
          schema:
            type: integer
        - name: date_modified
          in: query
          description: |
            Filter items by date_modified.
          schema:
            type: string
            format: data-time
        - name: date_last_imported
          in: query
          description: |
            Filter items by date_last_imported.
          schema:
            type: string
            format: data-time
        - name: is_visible
          in: query
          description: |
            Filter items by is_visible.
          schema:
            type: integer
        - name: is_featured
          in: query
          description: |
            Filter items by is_featured.
          schema:
            type: integer
        - name: is_free_shipping
          in: query
          description: |
            Filter items by is_free_shipping.
          schema:
            type: integer
        - name: inventory_level
          in: query
          description: |
            Filter items by inventory_level.
          schema:
            type: integer
        - name: inventory_low
          in: query
          description: |
            Filter items by inventory_low; values: 1, 0.
          schema:
            type: integer
        - name: out_of_stock
          in: query
          description: >
            Filter items by out_of_stock. To enable the filter, pass
            `out_of_stock`=`1`.
          schema:
            type: integer
        - name: total_sold
          in: query
          description: |
            Filter items by total_sold.
          schema:
            type: integer
        - name: type
          in: query
          description: |
            Filter items by type: `physical` or `digital`.
          schema:
            type: string
        - name: categories
          in: query
          description: |
            Filter items by categories.
          schema:
            type: integer
        - name: keyword
          in: query
          description: >
            Filter items by keywords found in the name, description, sku,
            keywords, or brand name.
          schema:
            type: string
        - name: keyword_context
          in: query
          description: |
            Set context for a product search.
          schema:
            type: string
            enum:
              - shopper
              - merchant
        - name: include
          in: query
          description: >
            Include sub-resources on a product, with a comma-separated list.
            Valid expansions currently include `variants`, `images`,
            `custom_fields`, and `bulk_pricing_rules`.
          schema:
            type: string
        - name: availability
          in: query
          description: >
            Filter items by availability. Values are: available, disabled,
            preorder.
          schema:
            type: string
        - name: page
          in: query
          description: |
            Control the page in a limited list of products.
          schema:
            type: integer
        - name: limit
          in: query
          description: |
            Control the items per page.
          schema:
            type: integer
        - name: direction
          in: query
          description: |
            Sort direction. Values are: asc, desc.
          schema:
            type: string
        - name: sort
          in: query
          description: >
            Field name to sort by.

            Values: id, name, sku, price, date_modified, date_last_imported,
            inventory_level, is_visible.
          schema:
            type: string
      responses:
        '200':
          description: |
            An array of products and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCollectionResponse'
    post:
      tags:
        - Catalog
      description: |
        Creates a `Product` in the BigCommerce Catalog.
      operationId: createProduct
      requestBody:
        description: |
          A BigCommerce `Product` object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductPost'
        required: true
      responses:
        '200':
          description: |
            A product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
        '409':
          description: >
            `Product` was in conflict with another product. This is the result
            of duplicate unique values, such as name or SKU; a missing or
            invalid category id, brand id, or tax_class id; or a conflicting
            `bulk_pricing_rule`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: >
            `Product` was not valid. This is the result of missing required
            fields, or of invalid data. See the response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: product
    delete:
      tags:
        - Catalog
      description: |
        Deletes one or more `Product` objects from the BigCommerce Catalog
      operationId: deleteProducts
      parameters:
        - name: name
          in: query
          description: |
            Filter items by name.
          schema:
            type: string
        - name: sku
          in: query
          description: |
            Filter items by sku.
          schema:
            type: string
        - name: price
          in: query
          description: |
            Filter items by price.
          schema:
            type: number
        - name: weight
          in: query
          description: |
            Filter items by weight.
          schema:
            type: number
        - name: condition
          in: query
          description: |
            Filter items by condition.
          schema:
            type: integer
        - name: brand_id
          in: query
          description: |
            Filter items by brand_id.
          schema:
            type: integer
        - name: date_modified
          in: query
          description: |
            Filter items by date_modified.
          schema:
            type: string
            format: data-time
        - name: date_last_imported
          in: query
          description: |
            Filter items by date_last_imported.
          schema:
            type: string
            format: data-time
        - name: is_visible
          in: query
          description: |
            Filter items by is_visible.
          schema:
            type: integer
        - name: is_featured
          in: query
          description: |
            Filter items by is_featured.
          schema:
            type: integer
        - name: inventory_level
          in: query
          description: |
            Filter items by inventory_level.
          schema:
            type: integer
        - name: total_sold
          in: query
          description: |
            Filter items by total_sold.
          schema:
            type: integer
        - name: type
          in: query
          description: |
            Filter items by type: `physical` or `digital`.
          schema:
            type: string
        - name: categories
          in: query
          description: |
            Filter items by categories.
          schema:
            type: integer
        - name: keyword
          in: query
          description: >
            Filter items by keywords found in the name, description, sku,
            keywords, or brand name.
          schema:
            type: string
      responses:
        '204':
          description: |
            An empty response.
          content: {}
  '/catalog/products/{product_id}':
    get:
      tags:
        - Catalog
      description: |
        Returns a `Product` from the BigCommerce Catalog.
      operationId: getProductById
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
        - name: include
          in: query
          description: >
            Include sub-resources on a product, with a comma-separated list.
            Valid expansions currently include `variants`, `images`,
            `custom_fields`, and `bulk_pricing_rules`.
          schema:
            type: string
      responses:
        '200':
          description: |
            A product.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
    put:
      tags:
        - Catalog
      description: |
        Updates a `Product` in the BigCommerce Catalog.
      operationId: updateProduct
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
      requestBody:
        description: |
          A BigCommerce `Product` object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductPut'
        required: true
      responses:
        '200':
          description: |
            A product.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: >
            `Product` was in conflict with another product. This is the result
            of duplicate unique values, such as name or SKU; a missing category,
            brand, or tax_class with which the product is being associated; or a
            conflicting bulk_pricing_rule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: >
            `Product` was not valid. This is the result of missing required
            fields, or of invalid data. See the response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: product
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `Product` object from the BigCommerce Catalog
      operationId: deleteProductById
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
      responses:
        '204':
          description: |
            An empty response.
          content: {}
  '/catalog/products/{product_id}/images':
    get:
      tags:
        - Catalog
      description: |
        Gets all images on a product.
      operationId: getProductImages
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the image is being attached.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: |
            List of product images and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductImageCollectionResponse'
        '204':
          description: |
            There are not any images on this product.
          content: {}
        '404':
          description: |
            The product ID does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
    post:
      tags:
        - Catalog
      description: >
        Creates an image on a product. Publically accessible URLs and files
        (form post) are valid parameters.
      operationId: createProductImage
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the image is being attached.
          required: true
          schema:
            type: integer
      requestBody:
        description: |
          A BigCommerce `ProductImage` object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductImagePost'
        required: true
      responses:
        '200':
          description: |
            A product image.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductImageResponse'
        '404':
          description: |
            The product ID does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
      x-codegen-request-body-name: productImage
  '/catalog/products/{product_id}/images/{image_id}':
    get:
      tags:
        - Catalog
      description: |
        Gets image on a product.
      operationId: getProductImageById
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the image is being attached.
          required: true
          schema:
            type: integer
        - name: image_id
          in: path
          description: |
            The ID of the `Image` that is being operated on.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: |
            An array of product images and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductImageResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
    put:
      tags:
        - Catalog
      description: >
        Updates an image on a product. Publicly accessible URLs and files (form
        post) are valid parameters.
      operationId: updateProductImage
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the image is being attached.
          required: true
          schema:
            type: integer
        - name: image_id
          in: path
          description: |
            The ID of the `Image` that is being operated on.
          required: true
          schema:
            type: integer
      requestBody:
        description: |
          A BigCommerce `ProductImage` object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductImagePut'
        required: true
      responses:
        '200':
          description: |
            A product image.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductImageResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
      x-codegen-request-body-name: productImage
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `ProductImage` in the BigCommerce Catalog.
      operationId: deleteProductImage
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the image is being attached.
          required: true
          schema:
            type: integer
        - name: image_id
          in: path
          description: |
            The ID of the `Image` that is being operated on.
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: |
            An empty response.
          content: {}
  '/catalog/products/{product_id}/videos':
    get:
      tags:
        - Catalog
      description: |
        Gets all videos on a product.
      operationId: getProductVideos
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the video is being attached.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: |
            List of product videos and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductVideoCollectionResponse'
    post:
      tags:
        - Catalog
      description: |
        Creates a video on a product, using a video ID from YouTube.
      operationId: createProductVideo
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the video is being attached.
          required: true
          schema:
            type: integer
      requestBody:
        description: |
          A BigCommerce `ProductVideo` object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductVideo'
        required: true
      responses:
        '200':
          description: |
            A product video
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductVideoResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
      x-codegen-request-body-name: productVideo
  '/catalog/products/{product_id}/videos/{video_id}':
    get:
      tags:
        - Catalog
      description: |
        Gets video on a product.
      operationId: getProductVideoById
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the video is being attached.
          required: true
          schema:
            type: integer
        - name: video_id
          in: path
          description: |
            The ID of the `Video` being operated on.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: |
            An array of product videos and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductVideoResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
    put:
      tags:
        - Catalog
      description: |
        Updates a video on a product.
      operationId: updateProductVideo
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the video is being attached.
          required: true
          schema:
            type: integer
        - name: video_id
          in: path
          description: |
            The ID of the `Video` being operated on.
          required: true
          schema:
            type: string
      requestBody:
        description: |
          A BigCommerce `ProductVideo` object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductVideo'
        required: true
      responses:
        '200':
          description: |
            A product video
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductVideoResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
      x-codegen-request-body-name: productVideo
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `ProductVideo` in the BigCommerce Catalog.
      operationId: deleteProductVideo
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the video is being attached.
          required: true
          schema:
            type: integer
        - name: video_id
          in: path
          description: |
            The ID of the `Video` being operated on.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: |
            An empty response
          content: {}
  '/catalog/products/{product_id}/variants':
    get:
      tags:
        - Catalog
      description: |
        Returns a `Variant` object list from the BigCommerce Catalog.
      operationId: getVariantsByProductId
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
        - name: page
          in: query
          description: |
            Control the page in a limited list of products.
          schema:
            type: integer
        - name: limit
          in: query
          description: |
            Control the items per page.
          schema:
            type: integer
      responses:
        '200':
          description: |
            An array of variants and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariantCollectionResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
    post:
      tags:
        - Catalog
      description: Creates a `Variant` object.
      operationId: createVariant
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
      requestBody:
        description: |
          A `Variant` object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Variant'
        required: true
      responses:
        '200':
          description: |
            A variant and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariantResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
      x-codegen-request-body-name: Variant
  '/catalog/products/{product_id}/variants/{variant_id}':
    get:
      tags:
        - Catalog
      description: Gets a `Variant` object.
      operationId: getVariantById
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
        - name: variant_id
          in: path
          description: |
            The ID of the `Variant` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
      responses:
        '200':
          description: |
            A variant and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariantResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
    put:
      tags:
        - Catalog
      description: Updates a `Variant` object.
      operationId: updateVariant
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
        - name: variant_id
          in: path
          description: |
            The ID of the `Variant` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
      requestBody:
        description: |
          `Variant` object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Variant'
        required: true
      responses:
        '200':
          description: |
            A variant and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariantResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
      x-codegen-request-body-name: Variant
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `Variant`.
      operationId: deleteVariantById
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
        - name: variant_id
          in: path
          description: |
            The ID of the `Variant` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
      responses:
        '204':
          description: |
            An empty response.
          content: {}
  '/catalog/products/{product_id}/variants/{variant_id}/metafields':
    get:
      tags:
        - Catalog
      description: |
        Gets a `Metafield` object list, by product_id and variant_id.
      operationId: getVariantMetafieldsByProductIdAndVariantId
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
        - name: variant_id
          in: path
          description: |
            The ID of the `Variant` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
        - name: page
          in: query
          description: |
            Control the page in a limited list of products.
          schema:
            type: integer
        - name: limit
          in: query
          description: |
            Control the items per page.
          schema:
            type: integer
        - name: key
          in: query
          description: |
            Filter based on a metafield's key.
          schema:
            type: string
        - name: namespace
          in: query
          description: |
            Filter based on a metafield's key.
          schema:
            type: string
      responses:
        '200':
          description: |
            An array of metafields and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
    post:
      tags:
        - Catalog
      description: Creates a variant `Metafield`.
      operationId: createVariantMetafield
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
        - name: variant_id
          in: path
          description: |
            The ID of the `Variant` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
      requestBody:
        description: |
          A `Metafield` object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metafield'
        required: true
      responses:
        '200':
          description: |
            A `Metafield` object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetafieldResponse'
        '409':
          description: >
            The `Metafield` was in conflict with another `Metafield`. This can
            be the result of duplicate unique-key combinations of the app's
            client id, namespace, key, resource_type, and resource_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: >
            The `Metafield` was not valid. This is the result of missing
            required fields, or of invalid data. See the response for more
            details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: Metafield
  '/catalog/products/{product_id}/variants/{variant_id}/metafields/{metafield_id}':
    get:
      tags:
        - Catalog
      description: |
        Gets a `Metafield`, by product_id and variant_id.
      operationId: getVariantMetafieldByProductIdAndVariantId
      parameters:
        - name: metafield_id
          in: path
          description: |
            The ID of the `Metafield`.
          required: true
          schema:
            type: number
            format: int
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
        - name: variant_id
          in: path
          description: |
            The ID of the `Variant` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
      responses:
        '200':
          description: |
            A metafield object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metafield'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
    put:
      tags:
        - Catalog
      description: Updates a `Metafield` object.
      operationId: updateVariantMetafield
      parameters:
        - name: metafield_id
          in: path
          description: |
            The ID of the `Metafield`.
          required: true
          schema:
            type: number
            format: int
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
        - name: variant_id
          in: path
          description: |
            The ID of the `Variant` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
      requestBody:
        description: |
          A `Metafield` object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metafield'
        required: true
      responses:
        '200':
          description: |
            A metafield and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetafieldResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
      x-codegen-request-body-name: Metafield
    delete:
      tags:
        - Catalog
      description: |
        Delete a `Metafield`
      operationId: deleteVariantMetafieldById
      parameters:
        - name: metafield_id
          in: path
          description: |
            The ID of the `Metafield`.
          required: true
          schema:
            type: number
            format: int
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
        - name: variant_id
          in: path
          description: |
            The ID of the `Variant` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
      responses:
        '204':
          description: |
            An empty response.
          content: {}
  '/catalog/products/{product_id}/variants/{variant_id}/image':
    post:
      tags:
        - Catalog
      operationId: createVariantImage
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
        - name: variant_id
          in: path
          description: |
            The ID of the `Variant`.
          required: true
          schema:
            type: number
            format: int
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - image_file
              type: object
              properties:
                image_file:
                  type: string
                  description: >
                    An image file. Supported MIME types include GIF, JPEG, and
                    PNG.
                  format: binary
        required: true
      responses:
        '200':
          description: |
            A ResourceImage and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '422':
          description: >
            Image was not valid. This is the result of a missing image_file
            field or an incorrect file type. See the response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/catalog/products/{product_id}/options':
    get:
      tags:
        - Catalog
      description: Gets an array of `Option` objects.
      operationId: getOptions
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
      responses:
        '200':
          description: |
            An array of options and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionCollectionResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
    post:
      tags:
        - Catalog
      description: Creates an `Option`.
      operationId: createOption
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
      requestBody:
        description: |
          An `Option` object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Option'
        required: true
      responses:
        '200':
          description: |
            An option object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionResponse'
        '409':
          description: >
            Option was in conflict with another option. This is the result of
            duplicate unique fields, such as `name`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: >
            Option was not valid. This is the result of missing required fields,
            or of invalid data. See the response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: Option
  '/catalog/products/{product_id}/options/{option_id}':
    get:
      tags:
        - Catalog
      description: 'Gets `Option` object, by product id and option id.'
      operationId: getOptionById
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the `Option` belongs.
          required: true
          schema:
            type: number
            format: int
        - name: option_id
          in: path
          description: |
            The ID of the `Option`.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: |
            An `Option` object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
    put:
      tags:
        - Catalog
      description: |
        Update a Product's `Option`, based on the product_id and option_id.
      operationId: updateOption
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the `Option` belongs.
          required: true
          schema:
            type: number
            format: int
        - name: option_id
          in: path
          description: |
            The ID of the `Option`.
          required: true
          schema:
            type: integer
      requestBody:
        description: |
          A BigCommerce `Option` object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Option'
        required: true
      responses:
        '200':
          description: |
            An `Option` object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionResponse'
        '409':
          description: >
            The `Option` was in conflict with another option. This is the result
            of duplicate unique fields, such as `name`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: >
            The `Option` was not valid. This is the result of missing required
            fields, or of invalid data. See the response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: option
    delete:
      tags:
        - Catalog
      description: |
        Delete a Product's `Option`, based on the product_id and option_id.
      operationId: deleteOptionById
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the `Option` belongs.
          required: true
          schema:
            type: number
            format: int
        - name: option_id
          in: path
          description: |
            The ID of the `Option`.
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: |
            An empty response.
          content: {}
  '/catalog/products/{product_id}/modifiers':
    get:
      tags:
        - Catalog
      description: Gets an array of `Modifier` objects.
      operationId: getModifiers
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the `Modifier` belongs.
          required: true
          schema:
            type: number
            format: int
      responses:
        '200':
          description: |
            An array of modifiers and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifierCollectionResponse'
    post:
      tags:
        - Catalog
      description: Creates a `Modifier`.
      operationId: createModifier
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the `Modifier` belongs.
          required: true
          schema:
            type: number
            format: int
      requestBody:
        description: |
          A `Modifier` object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Modifier'
        required: true
      responses:
        '200':
          description: |
            A modifier object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifierResponse'
        '409':
          description: >
            The `Modifier` was in conflict with another option. This is the
            result of duplicate unique fields, such as `name`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: >
            The `Modifier` was not valid. This is the result of missing required
            fields, or of invalid data. See the response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: Modifier
  '/catalog/products/{product_id}/modifiers/{modifier_id}':
    get:
      tags:
        - Catalog
      description: |
        Get a `Modifier` by product_id and modifier_id
      operationId: getModifierById
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the `Modifier` belongs.
          required: true
          schema:
            type: number
            format: int
        - name: modifier_id
          in: path
          description: |
            The ID of the `Modifier`.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: |
            A `Modifier` object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifierResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
    put:
      tags:
        - Catalog
      description: |
        Update an Product's `Modifier` based on the product_id and modifier_id.
      operationId: updateModifier
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the `Modifier` belongs.
          required: true
          schema:
            type: number
            format: int
        - name: modifier_id
          in: path
          description: |
            The ID of the `Modifier`.
          required: true
          schema:
            type: integer
      requestBody:
        description: |
          A BigCommerce `Modifier` object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Modifier'
        required: true
      responses:
        '200':
          description: |
            A modifier object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifierResponse'
        '409':
          description: >
            The `Modifier` was in conflict with another modifier or option. This
            is the result of duplicate unique fields, such as `name`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: >
            The `Modifier` was not valid. This is the result of missing required
            fields, or of invalid data. See the response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: modifier
    delete:
      tags:
        - Catalog
      description: |
        Delete a Product's `Modifier` based on the product_id and modifier_id.
      operationId: deleteModifierById
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the `Modifier` belongs.
          required: true
          schema:
            type: number
            format: int
        - name: modifier_id
          in: path
          description: |
            The ID of the `Modifier`.
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: |
            An empty response.
          content: {}
  '/catalog/products/{product_id}/modifiers/{modifier_id}/values/{value_id}/image':
    post:
      tags:
        - Catalog
      description: >-
        Adds an image to a modifier value; the image will show on the storefront
        when the value is selected.
      operationId: createModifierImage
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the `Modifier` belongs.
          required: true
          schema:
            type: number
            format: int
        - name: modifier_id
          in: path
          description: |
            The ID of the `Modifier`.
          required: true
          schema:
            type: integer
        - name: value_id
          in: path
          description: |
            The ID of the `Modifier`.
          required: true
          schema:
            type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - image_file
              type: object
              properties:
                image_file:
                  type: string
                  description: >
                    An image file. Supported MIME types include GIF, JPEG, and
                    PNG.
                  format: binary
        required: true
      responses:
        '200':
          description: |
            A ResourceImage and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '422':
          description: >
            Modifier image was not valid. This is the result of missing
            `image_file` fields, orof a non-URL value for the `image_file`
            field. See the response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Catalog
      description: Deletes the image assigned to show when the modifier value is selected.
      operationId: deleteModifierImage
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the `Modifier` belongs.
          required: true
          schema:
            type: number
            format: int
        - name: modifier_id
          in: path
          description: |
            The ID of the `Modifier`.
          required: true
          schema:
            type: integer
        - name: value_id
          in: path
          description: |
            The ID of the `Modifier`.
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Image cleared for this modifier value.
          content: {}
  '/catalog/products/{product_id}/complex-rules':
    get:
      tags:
        - Catalog
      description: Get an array of `ComplexRule` objects.
      operationId: getComplexRules
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the `ComplexRule` belongs.
          required: true
          schema:
            type: number
            format: int
      responses:
        '200':
          description: |
            An array of `ComplexRule` objects and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplexRuleCollectionResponse'
    post:
      tags:
        - Catalog
      description: Creates a `ComplexRule`.
      operationId: createComplexRule
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the `ComplexRule` belongs.
          required: true
          schema:
            type: number
            format: int
      requestBody:
        description: |
          `ComplexRule` object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComplexRule'
        required: true
      responses:
        '200':
          description: |
            A `ComplexRule` object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplexRuleResponse'
        '409':
          description: >
            The `ComplexRule` was in conflict with another `ComplexRule`. This
            is the result of duplicate conditions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: >
            The `ComplexRule` was not valid. This is the result of missing
            required fields, or of invalid data. See the response for more
            details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: ComplexRule
  '/catalog/products/{product_id}/complex-rules/{complex_rule_id}':
    get:
      tags:
        - Catalog
      description: |
        Get a `ComplexRule` by product_id
      operationId: getComplexRuleById
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the `ComplexRule` belongs.
          required: true
          schema:
            type: number
            format: int
        - name: complex_rule_id
          in: path
          description: |
            The ID of the `ComplexRule`.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: |
            A modifier object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplexRuleResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
    put:
      tags:
        - Catalog
      description: >
        Update an Product's `ComplexRule`, based on the `product_id` and
        `complex_rule_id`.
      operationId: updateComplexRule
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the `ComplexRule` belongs.
          required: true
          schema:
            type: number
            format: int
        - name: complex_rule_id
          in: path
          description: |
            The ID of the `ComplexRule`.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: |
            A `ComplexRule` object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplexRuleResponse'
        '409':
          description: >
            The `ComplexRule` was in conflict with another `ComplexRule`. This
            is the result of duplicate conditions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: >
            The `ComplexRule` was not valid. This is the result of missing
            required fields, or of invalid data. See the response for more
            details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Catalog
      description: >
        Deletes a Product's `ComplexRule`, based on the `product_id` and
        `complex_rule_id`.
      operationId: deleteComplexRuleById
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the `ComplexRule` belongs.
          required: true
          schema:
            type: number
            format: int
        - name: complex_rule_id
          in: path
          description: |
            The ID of the `ComplexRule`.
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: |
            An empty response.
          content: {}
  '/catalog/products/{product_id}/metafields':
    get:
      tags:
        - Catalog
      description: |
        Gets a `Metafield` object list, by `product_id`.
      operationId: getProductMetafieldsByProductId
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
        - name: page
          in: query
          description: |
            Control the page in a limited list of products.
          schema:
            type: integer
        - name: limit
          in: query
          description: |
            Control the items per page.
          schema:
            type: integer
        - name: key
          in: query
          description: |
            Filter based on a metafield's key.
          schema:
            type: string
        - name: namespace
          in: query
          description: |
            Filter based on a metafield's key.
          schema:
            type: string
      responses:
        '200':
          description: |
            An array of metafields and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
    post:
      tags:
        - Catalog
      description: Creates a product `Metafield`.
      operationId: createProductMetafield
      parameters:
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
      requestBody:
        description: |
          `Metafield` object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metafield'
        required: true
      responses:
        '200':
          description: |
            A `Metafield` object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetafieldResponse'
        '409':
          description: >
            The `Metafield` was in conflict with another `Metafield`. This can
            be the result of duplicate unique key combinations of the app's
            client id, namespace, key, resource_type, and resource_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: >
            The `Metafield` was not valid. This is the result of missing
            required fields, or of invalid data. See the response for more
            details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: Metafield
  '/catalog/products/{product_id}/metafields/{metafield_id}':
    get:
      tags:
        - Catalog
      description: |
        Gets a `Metafield`, by `product_id`.
      operationId: getProductMetafieldByProductId
      parameters:
        - name: metafield_id
          in: path
          description: |
            The ID of the `Metafield`.
          required: true
          schema:
            type: number
            format: int
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
      responses:
        '200':
          description: |
            A metafield object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metafield'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
    put:
      tags:
        - Catalog
      description: Updates a `Metafield` object.
      operationId: updateProductMetafield
      parameters:
        - name: metafield_id
          in: path
          description: |
            The ID of the `Metafield`.
          required: true
          schema:
            type: number
            format: int
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
      requestBody:
        description: |
          `Metafield` object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metafield'
        required: true
      responses:
        '200':
          description: |
            A metafield and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetafieldResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
      x-codegen-request-body-name: Metafield
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `Metafield`.
      operationId: deleteProductMetafieldById
      parameters:
        - name: metafield_id
          in: path
          description: |
            The ID of the `Metafield`.
          required: true
          schema:
            type: number
            format: int
        - name: product_id
          in: path
          description: |
            The ID of the `Product` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
      responses:
        '204':
          description: |
            An empty response.
          content: {}
  /catalog/categories:
    get:
      tags:
        - Catalog
      description: |
        Returns a paginated categories collection from the BigCommerce Catalog.
      operationId: getCategories
      parameters:
        - name: name
          in: query
          description: |
            Filter items by name.
          schema:
            type: string
        - name: parent_id
          in: query
          description: |
            Filter items by parent_id.
          schema:
            type: integer
        - name: page_title
          in: query
          description: |
            Filter items by page_title.
          schema:
            type: string
        - name: keyword
          in: query
          description: |
            Filter items by keywords.
          schema:
            type: string
        - name: is_visible
          in: query
          description: |
            Filter items by is_visible.
          schema:
            type: integer
        - name: page
          in: query
          description: |
            Control the page in a limited list of products.
          schema:
            type: integer
        - name: limit
          in: query
          description: |
            Control the items per page.
          schema:
            type: integer
      responses:
        '200':
          description: |
            An array of category objects and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryCollectionResponse'
    post:
      tags:
        - Catalog
      description: |
        Creates a `Category` in the BigCommerce Catalog.
      operationId: createCategory
      requestBody:
        description: |
          A BigCommerce `Category` object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Category'
        required: true
      responses:
        '200':
          description: |
            A category object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryResponse'
        '409':
          description: >
            The `Category` was in conflict with another category. This is the
            result of duplicate unique values, such as `name` or `custom_url`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: >
            The `Category` was not valid. This is the result of missing required
            fields, or of invalid data. See the response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: category
    delete:
      tags:
        - Catalog
      description: |
        Deletes a product or products from the BigCommerce Catalog.
      operationId: deleteCategories
      parameters:
        - name: name
          in: query
          description: |
            Filter items by name.
          schema:
            type: string
        - name: parent_id
          in: query
          description: |
            Filter items by parent_id.
          schema:
            type: integer
        - name: page_title
          in: query
          description: |
            Filter items by page_title.
          schema:
            type: string
        - name: keyword
          in: query
          description: |
            Filter items by keywords.
          schema:
            type: string
        - name: is_visible
          in: query
          description: |
            Filter items by is_visible.
          schema:
            type: integer
      responses:
        '204':
          description: |
            An empty response.
          content: {}
  '/catalog/categories/{category_id}':
    get:
      tags:
        - Catalog
      description: |
        Returns a `Category` from the BigCommerce Catalog.
      operationId: getCategoryById
      parameters:
        - name: category_id
          in: path
          description: |
            The ID of the `Category` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
      responses:
        '200':
          description: |
            A category object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
    put:
      tags:
        - Catalog
      description: |
        Updates a `Category` in the BigCommerce Catalog.
      operationId: updateCategory
      parameters:
        - name: category_id
          in: path
          description: |
            The ID of the `Category` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
      requestBody:
        description: |
          A BigCommerce `Category` object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Category'
        required: true
      responses:
        '200':
          description: |
            A category object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: >
            The `Category` was in conflict with another category. This is the
            result of duplicate unique values, such as `name` or `custom_url`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: >
            The `Category` was not valid. This is the result of missing required
            fields, or of invalid data. See the response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: category
    delete:
      tags:
        - Catalog
      description: |
        Deletes one or more `Category` objects from the BigCommerce catalog.
      operationId: deleteCategoryById
      parameters:
        - name: category_id
          in: path
          description: |
            The ID of the `Category` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
      responses:
        '204':
          description: |
            An empty response.
          content: {}
  '/catalog/categories/{category_id}/metafields':
    get:
      tags:
        - Catalog
      description: |
        Gets a `Metafield` object list, by category_id.
      operationId: getCategoryMetafieldsByCategoryId
      parameters:
        - name: category_id
          in: path
          description: |
            The ID of the `Category` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
        - name: page
          in: query
          description: |
            Control the page in a limited list of products.
          schema:
            type: integer
        - name: limit
          in: query
          description: |
            Control the items per page.
          schema:
            type: integer
        - name: key
          in: query
          description: |
            Filter based on a metafield's key.
          schema:
            type: string
        - name: namespace
          in: query
          description: |
            Filter based on a metafield's key.
          schema:
            type: string
      responses:
        '200':
          description: |
            An array of metafields and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
    post:
      tags:
        - Catalog
      description: Creates a product `Metafield`.
      operationId: createCategoryMetafield
      parameters:
        - name: category_id
          in: path
          description: |
            The ID of the `Category` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
      requestBody:
        description: |
          A `Metafield` object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metafield'
        required: true
      responses:
        '200':
          description: |
            A `Metafield` object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetafieldResponse'
        '409':
          description: >
            The `Metafield` was in conflict with another `Metafield`. This can
            be the result of duplicate unique key combinations of the app's
            client id, namespace, key, resource_type, and resource_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: >
            The `Metafield` was not valid. This is the result of missing
            required fields, or of invalid data. See the response for more
            details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: Metafield
  '/catalog/categories/{category_id}/metafields/{metafield_id}':
    get:
      tags:
        - Catalog
      description: |
        Gets a `Metafield` by category_id.
      operationId: getCategoryMetafieldByCategoryId
      parameters:
        - name: metafield_id
          in: path
          description: |
            The ID of the `Metafield`.
          required: true
          schema:
            type: number
            format: int
        - name: category_id
          in: path
          description: |
            The ID of the `Category` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
      responses:
        '200':
          description: |
            A metafield object,
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metafield'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
    put:
      tags:
        - Catalog
      description: Updates a `Metafield` object.
      operationId: updateCategoryMetafield
      parameters:
        - name: metafield_id
          in: path
          description: |
            The ID of the `Metafield`.
          required: true
          schema:
            type: number
            format: int
        - name: category_id
          in: path
          description: |
            The ID of the `Category` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
      requestBody:
        description: |
          A `Metafield` object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metafield'
        required: true
      responses:
        '200':
          description: |
            A metafield and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetafieldResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
      x-codegen-request-body-name: Metafield
    delete:
      tags:
        - Catalog
      description: |
        Delete a `Metafield`
      operationId: deleteCategoryMetafieldById
      parameters:
        - name: metafield_id
          in: path
          description: |
            The ID of the `Metafield`.
          required: true
          schema:
            type: number
            format: int
        - name: category_id
          in: path
          description: |
            The ID of the `Category` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
      responses:
        '204':
          description: |
            An empty response.
          content: {}
  '/catalog/categories/{category_id}/image':
    post:
      tags:
        - Catalog
      description: >
        Creates an image on a category. Publicly accessible URLs and files (form
        post) are valid parameters.
      operationId: createCategoryImage
      parameters:
        - name: category_id
          in: path
          description: |
            The ID of the `Category` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - image_file
              type: object
              properties:
                image_file:
                  type: string
                  description: >
                    An image file. Supported MIME types include GIF, JPEG, and
                    PNG.
                  format: binary
        required: true
      responses:
        '200':
          description: |
            A ResourceImage and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '422':
          description: >
            Image was not valid. This is the result of a missing `image_file`
            field or an incorrect file type. See the response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `Category` image from the BigCommerce Catalog.
      operationId: deleteCategoryImage
      parameters:
        - name: category_id
          in: path
          description: |
            The ID of the `Category` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
      responses:
        '204':
          description: |
            An empty response.
          content: {}
  /catalog/categories/tree:
    get:
      tags:
        - Catalog
      description: >
        Returns the categories tree, a nested lineage of the categories with
        parent->child relationship. The `Category` objects returned are
        simplified versions of the category objects returned in the rest of this
        API.
      operationId: getCategoryTree
      responses:
        '200':
          description: |
            A array of nested category tree objects and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryTreeCollectionResponse'
  /catalog/brands:
    get:
      tags:
        - Catalog
      description: |
        Gets `Brand` objects.
      operationId: getBrands
      parameters:
        - name: name
          in: query
          description: |
            Filter items by name.
          schema:
            type: string
        - name: page_title
          in: query
          description: |
            Filter items by page_title.
          schema:
            type: string
        - name: page
          in: query
          description: |
            Control the page in a limited list of products.
          schema:
            type: integer
        - name: limit
          in: query
          description: |
            Control the items per page.
          schema:
            type: integer
      responses:
        '200':
          description: |
            An array of brand objects and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandCollectionResponse'
    post:
      tags:
        - Catalog
      description: Creates a `Brand` object.
      operationId: createBrand
      requestBody:
        description: |
          A `Brand` object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Brand'
        required: true
      responses:
        '200':
          description: |
            A brand object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandResponse'
        '409':
          description: >
            Brand was in conflict with another brand. This is the result of
            duplicate unique fields such as name.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: >
            Brand was not valid. This is the result of missing required fields,
            or of invalid data. See the response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: Brand
    delete:
      tags:
        - Catalog
      description: |
        Deletes one or more `Brand` objects from the BigCommerce Catalog.
      operationId: deleteBrands
      parameters:
        - name: name
          in: query
          description: |
            Filter items by name.
          schema:
            type: string
        - name: page_title
          in: query
          description: |
            Filter items by page_title.
          schema:
            type: string
      responses:
        '204':
          description: |
            An empty response.
          content: {}
  '/catalog/brands/{brand_id}':
    get:
      tags:
        - Catalog
      description: Gets a `Brand` object.
      operationId: getBrandById
      parameters:
        - name: brand_id
          in: path
          description: |
            The ID of the `Brand` requested.
          required: true
          schema:
            type: number
            format: int
      responses:
        '200':
          description: |
            A `Brand` object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
    put:
      tags:
        - Catalog
      description: |
        Updates a `Brand` in the BigCommerce Catalog.
      operationId: updateBrand
      parameters:
        - name: brand_id
          in: path
          description: |
            The ID of the `Brand` requested.
          required: true
          schema:
            type: number
            format: int
      requestBody:
        description: |
          Returns a `Brand` from the BigCommerce Catalog.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Brand'
        required: true
      responses:
        '200':
          description: |
            A `Brand` object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: >
            The `Brand` was in conflict with another product. This is the result
            of duplicate unique values, such as `name`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: >
            The `Brand` was not valid. This is the result of missing required
            fields, or of invalid data. See the response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: brand
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `Brand` from the BigCommerce Catalog.
      operationId: deleteBrandById
      parameters:
        - name: brand_id
          in: path
          description: |
            The ID of the `Brand` requested.
          required: true
          schema:
            type: number
            format: int
      responses:
        '204':
          description: |
            An empty response.
          content: {}
  '/catalog/brands/{brand_id}/metafields':
    get:
      tags:
        - Catalog
      description: |
        Gets a `Metafield` object list, by `category_id`.
      operationId: getBrandMetafieldsByBrandId
      parameters:
        - name: brand_id
          in: path
          description: |
            The ID of the `Brand` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
        - name: key
          in: query
          description: |
            Filter based on a metafield's key.
          schema:
            type: string
        - name: namespace
          in: query
          description: |
            Filter based on a metafield's key.
          schema:
            type: string
        - name: page
          in: query
          description: |
            Control the page in a limited list of products.
          schema:
            type: integer
        - name: limit
          in: query
          description: |
            Control the items per page.
          schema:
            type: integer
      responses:
        '200':
          description: |
            An array of metafields and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
    post:
      tags:
        - Catalog
      description: Creates a product `Metafield`.
      operationId: createBrandMetafield
      parameters:
        - name: brand_id
          in: path
          description: |
            The ID of the `Brand` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
        - name: key
          in: query
          description: |
            Filter based on a metafield's key.
          schema:
            type: string
        - name: namespace
          in: query
          description: |
            Filter based on a metafield's key.
          schema:
            type: string
      requestBody:
        description: |
          A `Metafield` object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metafield'
        required: true
      responses:
        '200':
          description: |
            A `Metafield` object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetafieldResponse'
        '409':
          description: >
            The `Metafield` was in conflict with another `Metafield`. This can
            be the result of duplicate unique key combination of the app's
            client id, namespace, key, resource_type, and resource_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: >
            The `Metafield` was not valid. This is the result of missing
            required fields, or of invalid data. See the response for more
            details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: Metafield
  '/catalog/brands/{brand_id}/metafields/{metafield_id}':
    get:
      tags:
        - Catalog
      description: |
        Gets a `Metafield`, by `category_id`.
      operationId: getBrandMetafieldByBrandId
      parameters:
        - name: metafield_id
          in: path
          description: |
            The ID of the `Metafield`.
          required: true
          schema:
            type: number
            format: int
        - name: brand_id
          in: path
          description: |
            The ID of the `Brand` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
      responses:
        '200':
          description: |
            A `Metafield` object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metafield'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
    put:
      tags:
        - Catalog
      description: Updates a `Metafield` object.
      operationId: updateBrandMetafield
      parameters:
        - name: metafield_id
          in: path
          description: |
            The ID of the `Metafield`.
          required: true
          schema:
            type: number
            format: int
        - name: brand_id
          in: path
          description: |
            The ID of the `Brand` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
      requestBody:
        description: |
          A `Metafield` object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metafield'
        required: true
      responses:
        '200':
          description: |
            A metafield and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetafieldResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
      x-codegen-request-body-name: Metafield
    delete:
      tags:
        - Catalog
      description: |
        Delete a `Metafield`
      operationId: deleteBrandMetafieldById
      parameters:
        - name: metafield_id
          in: path
          description: |
            The ID of the `Metafield`.
          required: true
          schema:
            type: number
            format: int
        - name: brand_id
          in: path
          description: |
            The ID of the `Brand` to which the resource belongs.
          required: true
          schema:
            type: number
            format: int
      responses:
        '204':
          description: |
            An empty response.
          content: {}
  '/catalog/brands/{brand_id}/image':
    post:
      tags:
        - Catalog
      description: >
        Creates an image on a `Brand`. Publicly accessible URLs and files (form
        post) are valid parameters.
      operationId: createBrandImage
      parameters:
        - name: brand_id
          in: path
          description: |
            The ID of the `Brand` to which the image is being attached.
          required: true
          schema:
            type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - image_file
              type: object
              properties:
                image_file:
                  type: string
                  description: >
                    An image file. Supported MIME types include GIF, JPEG, and
                    PNG.
                  format: binary
        required: true
      responses:
        '200':
          description: |
            A ResourceImage and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '422':
          description: >
            Image was not valid. This is the result of a missing `image_file`
            field or an incorrect file type. See the response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `Brand` image from the BigCommerce Catalog.
      operationId: deleteBrandImage
      parameters:
        - name: brand_id
          in: path
          description: |
            The ID of the `Brand` to which the image is being attached.
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Image cleared from the brand.
          content: {}
  /catalog/variants:
    get:
      tags:
        - Catalog
      description: |
        Returns a `Variant` object list from the BigCommerce Catalog.
      operationId: getVariants
      parameters:
        - name: id
          in: query
          description: |
            Filter items by id.
          schema:
            type: integer
        - name: sku
          in: query
          description: |
            Filter items by sku.
          schema:
            type: string
        - name: page
          in: query
          description: |
            Control the page in a limited list of products.
          schema:
            type: integer
        - name: limit
          in: query
          description: |
            Control the items per page.
          schema:
            type: integer
      responses:
        '200':
          description: |
            An array of variants and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariantCollectionResponse'
        '404':
          description: |
            The resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  /catalog/summary:
    get:
      tags:
        - Catalog
      description: |
        Returns a lightweight inventory summary from the BigCommerce Catalog.
      responses:
        '200':
          description: |
            An array of catalog summary and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogSummaryResponse'
  /customers/subscribers:
    get:
      tags:
        - Customers
      description: |
        Returns a paginated Subscribers collection.
      operationId: getSubscribers
      parameters:
        - name: email
          in: query
          description: |
            Filter items by email.
          schema:
            type: string
        - name: first_name
          in: query
          description: |
            Filter items by first_name.
          schema:
            type: string
        - name: last_name
          in: query
          description: |
            Filter items by last_name.
          schema:
            type: string
        - name: source
          in: query
          description: |
            Filter items by source.
          schema:
            type: string
        - name: order_id
          in: query
          description: |
            Filter items by order_id.
          schema:
            type: integer
        - name: date_created
          in: query
          description: |
            Filter items by date_created.
          schema:
            type: string
            format: data-time
        - name: date_modified
          in: query
          description: |
            Filter items by date_modified.
          schema:
            type: string
            format: data-time
        - name: page
          in: query
          description: |
            Control the page in a limited list of products.
          schema:
            type: integer
        - name: limit
          in: query
          description: |
            Control the items per page.
          schema:
            type: integer
      responses:
        '200':
          description: |
            An array of `Subscriber` objects and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriberCollectionResponse'
    post:
      tags:
        - Customers
      description: |
        Creates a `Subscriber` object.
      operationId: createSubscriber
      requestBody:
        description: |
          `Subscriber` object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Subscriber'
        required: true
      responses:
        '200':
          description: |
            A `Subscriber` object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriberResponse'
        '409':
          description: >
            The `Subscriber` was in conflict with another subscriber. This is
            the result of duplicate unique values, such as `email`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: >
            The `Subscriber` was not valid. This is the result of missing
            required fields, or of invalid data. See the response for more
            details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: subscriber
    delete:
      tags:
        - Customers
      description: |
        Deletes a Subscriber or Subscribers from BigCommerce Customers.
      operationId: deleteSubscribers
      parameters:
        - name: email
          in: query
[...]
